[2015-12-31 12:58] slavanga opened #3 "Forms: select box is unstyled"
The default select styles get removed by ```appearance: none``` but no custom styles are in place.

![select](https://cloud.githubusercontent.com/assets/1077807/12064576/910e800a-afc6-11e5-8a00-dfb2b28b55a5.jpg)

[2016-01-01 10:51] vkeusebio commented on #3
isn't the default style for the options dependent on the user's operating system?

[2016-01-01 13:25] slavanga commented on #3
That's true but right now the default style is removed entirely and not replaced. The select box looks like a normal input field in Firefox and webkit based browsers.

[2016-01-01 21:47] ivandinizaj opened #5 "Framework Customization"
Since the large differential of framework is to be as light as possible, it would be convenient to have a customization tool. So, the developer can choose which items from framework they need to download separately (Buttons, Typography, Codes, Tables, Blockquotes ...). Therefore, framework would be more objective and, consequently, faster.

**Ex:** http://globocom.github.io/bootstrap/customize.htm

[2016-01-02 20:50] TheoBearman opened #6 "Ability to Input Data Into Tables"
Good evening,

I am running a [website](https://vatsim.theobearman.com/) using Bootstrap 3 (yawn) which displays some data in tables pulled from an API. I am really keen to revamp this website with something more minimal such as Milligram or Skeleton. The one thing that is preventing me from doing so is that, to my knowledge, Milligram nor Skeleton has the table functionality I can achieve using [

[2016-01-04 16:59] MrTarantula commented on #6
I can't speak for the maintainers of this project, but I believe what you are wanting falls outside of the scope of milligram's goals. They likely want to keep the framework as small as possible, and adding the functionality you're requesting could increase the size by 25% or more.

As you have stated, Bootstrap alone does not have this functionality either. Bootstrap Table is essentially some jQu

[2016-01-04 20:12] kevinthomas-dev commented on #5
That would definitely be a good feature. Hope they update the framework soon.

[2016-01-04 20:54] alisonmonteiro commented on #5
Would be a good feature, @ivandinizaj :+1:

[2016-01-04 22:16] cjpatoilo commented on #6
Exactly. Milligram provides a minimal configuration for a quick and clean starting point. Unfortunately, there is no support for JavaScript. But if you join Milligram any other JS framework, or library, you can build something really cool as you wish. If you need help with something, call me [here](https://github.com/cjpatoilo/ama).

Guys, thanks so much!

[2016-01-04 22:16] #6 closed

[2016-01-04 22:48] NoahVlncrt opened #8 "Meteor Package - noahvlncrt:milligram"
I have just organized and released your code as meteor package. Don't worry I have credited you properly and I'm looking forward to keeping up with this package for your future releases. If you would like to take control and tackle this project I understand. contact me.

I didn't just make a pull request and add the package.js file because I do not want the version people install on there projects

[2016-01-04 23:40] vkeusebio opened #9 "µg - Simple Milligram Customizer"
hello, I made [µg (microgram)](https://ug-web.herokuapp.com/), a simple customizer for milligram as suggested on #5.

Simply choose the modules that you want to include on your custom build and hit `Download`. It also comes with normalize to save you time. I know its pretty basic and lacks other options such as live preview, color picker, font family editor, etc. but it does the job.

[2016-01-05 01:40] alisonmonteiro commented on #9
Wow! Really good, @vkeusebio!

[2016-01-05 01:41] cjpatoilo commented on #9
This is awesome!
Great work, guy. =D

If you want, I can try to help you with that.

[2016-01-05 02:16] vkeusebio commented on #9
@alisonmonteiro @cjpatoilo thanks! I'm glad you liked it

[2016-01-05 14:51] thompsonemerson commented on #6
@MrTarantula +1

[2016-01-05 16:54] smullarkey opened #10 "ul and ol description is backwards"
Just wanted to point out that the < ol > and < ul > tags are backwards in the list description (http://milligram.github.io/#lists)

"The unordered list use < ol > element will be marked with a outline circles, the ordered list use < ul > element"

[2016-01-05 19:01] Mortiferr commented on #10
Appears to be fixed.

[2016-01-06 04:53] cjpatoilo commented on #10
Hello @smullarkey
Thanks for attention!

[2016-01-06 04:53] #10 closed

[2016-01-06 05:04] cjpatoilo commented on #8
Great job @NoahVlncrt.
I wait for your PR. Thanks a lot!

[2016-01-06 05:04] #8 closed

[2016-01-06 07:26] #9 closed

[2016-01-06 14:59] NoahVlncrt commented on #8
Just sent in my pull request. The meteor package info is under the branch meteor-package

[2016-01-06 17:17] ftonato opened #16 "Sharing on Twitter is not working"
The original code is:
[code]

I think that the `|` is breaking the *url*, but if we change the `|` to `%7C` (**url-encode**), the issue will be fixed.

[code]

[2016-01-07 10:00] fabienwang opened #18 "Docs menu doesn't work when in any component page"
in homepage
http://milligram.github.io/index.html
the menu Docs works great, since anchors do exist in the page.

But when you go in any example page, let's say typography.html,
then the Docs menu fails since it tries to go to an anchor that is NOT in that page.

Hence, links in the Docs menu should always be related to index.html
like `/index.html#typography` instead of `#typography`

[2016-01-08 04:01] cjpatoilo commented on #16
@ftonato Fixed!
Thanks for the info.

[2016-01-08 04:01] #16 closed

[2016-01-08 04:13] cjpatoilo commented on #18
@fabienwang fixed!
Thanks for the info.

[2016-01-08 04:13] #18 closed

[2016-01-08 04:58] digitalhitler opened #19 "No outline with outlined-button"
Hello!
I am here just to say that `.outline-button` selector on example buttons page isn't really outlined:

![untitled](https://cloud.githubusercontent.com/assets/1048856/12190755/73af6d9a-b5dd-11e5-8ff2-a39f82bd3aa9.png)

But if I zoom-in browser, it's come back:

![screen shot 2016-01-08 at 07 55 08](https://cloud.githubusercontent.com/assets/1048856/12190749/58c61b64-b5dd-11e5-974a-e6a530db34a

[2016-01-08 06:04] cjpatoilo commented on #19
Hi @digitalhitler thanks for the info. Apparently this behavior with all browsers and not only with Safari. Anyway I will search to find more information about it.

[2016-01-08 09:21] vkeusebio commented on #19
This is because of sub-pixel calculations on most web browsers and can be easily fixed by increasing the width of the border and it doesn't looks nice.

[2016-01-08 14:04] cjpatoilo commented on #19
Note, the proportion of example in Safari is smaller than the other example shown. I have not found any articles that lists this behavior as a problem. Anyway I keep searching.

[2016-01-08 16:12] #3 closed

[2016-01-08 16:21] joaobarbosa opened #22 "Hover effects on form elements (inputs, selects, etc)"
As @fabienwang on another thread, talking about form controls:

"I would add:
an hover effect on the select: with a light background like rgba(64,64,64,0.2)
an hover effect on the input , like a lighter border color"

I do believe it will be a good idea too.

[2016-01-09 02:52] cjpatoilo commented on #3
Hi @slavanga. This feature has been improved [c88d81a](https://github.com/milligram/milligram/commit/c88d81a23a50c8c02d9588006c8e01e210960606)
Thanks a lot.

[2016-01-09 05:22] vkeusebio commented on #19
@cjpatoilo check this out http://dieulot.net/css-retina-hairline

[2016-01-09 10:49] slavanga commented on #19
Bootstrap had a similar issue recently.
https://github.com/twbs/bootstrap/issues/17812

The best way to fix this probably is using a px based border.

[2016-01-11 04:18] jackmcpickle opened #26 "Move padding out of column as default"
Hey,

Maybe just me. But I believe column padding should be optional on columns. Just so you can have bumper to bumper grids and nesting becomes easer too.

Happy to do a PR. Thoughts?

[2016-01-11 10:30] ghost opened #28 "remove dist/ from repo. add Travis-CI"
As i see a lot of PR changing dist/ css files. I suggest to simply drop them from the repository.

You could also a continuous integration like Travis-CI so it could automatically create a release (using gulp or grunt) you could automatically get that release overwritten with every commit on your master branch.

Just a suggestion.

[2016-01-11 10:32] hedii commented on #28
+1

or PR only to a dev branch (which has to be created), and compile to dist each time on the dev branch.
That way the master dist is not changed at each PR

[2016-01-11 13:03] vkeusebio opened #29 "no style for disabled input"

[2016-01-11 13:26] cjpatoilo opened #30 "Improvement The Guideline for Contributing"
[Contributing](https://github.com/milligram/milligram/blob/master/contributing.md)

[2016-01-11 13:29] cjpatoilo commented on #29
You tested direct downloading from the repository or from a package manager?
These features will come in version 1.1.0

[2016-01-11 14:52] BoDonkey opened #31 "change in docs"
The typography web page has a typo.
I believe:

<a>Archor</a>

should be
 <a>Anchor</a>

I don't think I can edit the actual doc pages-maybe I'm wrong.

[2016-01-11 16:03] fabienwang commented on #31
You are wrong indeed.

https://github.com/milligram/milligram.github.io/blob/master/typography.html#L115

;)

[2016-01-11 16:47] cjpatoilo commented on #31
Hello @BoDonkey. Thanks for the info!

[2016-01-11 16:47] #31 closed

[2016-01-11 20:47] vkeusebio commented on #29
I always pull the source from the master branch and compile on my own.

[2016-01-12 04:26] cjpatoilo commented on #28
You're right, it really is difficult to see what has changed.

[2016-01-12 04:37] cjpatoilo commented on #26
Glad to help, but I know would not be the grid structure without the padding. I await your "PR" for analysis. Anyway, thanks alot.

[2016-01-12 07:00] vkeusebio commented on #29
I always pull the source from the master branch and compile on my own. @cjpatoilo I'll send a PR

[2016-01-12 12:16] vkeusebio commented on #29
that was funny, just fetched the latest commits from master. Disabled button works fine now but it seems that milligram on CDNjs isn't updated.

[2016-01-12 12:23] #29 closed

[2016-01-12 12:59] vkeusebio opened #33 "gitter"
for real-time discussion

[2016-01-12 13:51] cjpatoilo commented on #33
I had prepared this channel for some time. https://gitter.im/milligram/milligram

[2016-01-12 13:51] #33 closed

[2016-01-12 19:15] Raika opened #34 "RTL Support"
Is there any future plan to support RTL?

[2016-01-13 14:18] cjpatoilo commented on #5
Guys, about this feature, what do you think: is better to add this functionality directly on the site or create a new side project?

[2016-01-13 14:19] fabienwang commented on #5
@cjpatoilo on the site directly.

[2016-01-13 14:20] vkeusebio commented on #5
@cjpatoilo on the site.

[2016-01-13 15:28] abouthiroppy commented on #5
on the site. :+1:

[2016-01-13 16:10] kevinthomas-dev commented on #5
@cjpatoilo on the site.

[2016-01-13 18:58] mahmoudmy commented on #34
RTL support please!

[2016-01-13 21:53] cjpatoilo commented on #34
I really liked this idea but do not know how I could do that. I would need a lot of help to better understand how to enter this support. So we need to keep the same feeling of the project. In short, Milligram should just hand the feature minimum, the most basic and necessary as possible.

[2016-01-14 03:47] Raika commented on #34
I want help with this. but I don't know your standard.
By creating `milligram.rtl.css` file and change all left property to right? or using top parent such as `body` or `html` by `dir="rtl"` and create rule for this?

[2016-01-14 03:54] Raika commented on #34
I want help with this. but I don't know your standard.
By creating `milligram.rtl.css` file and change all left property to right? or using top parent such as `body` or `html` by `dir="rtl"` and create rule for this?

[2016-01-14 15:05] vujovicigor opened #39 "few suggestions"
Great work guys, milligram is fantastic.
Here is few suggestions:
- when select element is open, default browser color is used, it can be fixed:
[code]

- onclick effect:
[code]

- some transitions:
[code]

- responsive img:
[code]

- media query to reset max-width on small screen devices:
[code]

here is example:
http://codepen.io/vujovichigor/pen/NxvoOR
(try resizing browser)

Thank you for mill

[2016-01-15 11:37] rrrene opened #40 "Links have target "blank" instead of "_blank""
Hi CJ,

good job on the visuals! :clap:

Unfortunately, all links that *should* open in a new tab/window have the attribute `target=blank` instead of `target=_blank`. For something that is concerned with professional web development this is a bit odd. In case you're wondering what I'm talking about [have a look at this page](http://www.w3schools.com/tags/att_a_target.asp) explaining the meaning of

[2016-01-15 11:51] plfstr opened #42 "Pre Overflow"
Pre code blocks with long lines break out of their containers, seen here on the [milligram site](https://milligram.github.io/)

[2016-01-15 11:53] vkeusebio commented on #42
I'm thinking of either putting a scroll-bar (which won't look pretty) or wrapping the text.

[2016-01-15 12:00] joaobarbosa commented on #40
Done :+1:

[2016-01-15 14:38] cmnstmntmn commented on #5
i belive this is a pain in the ass, since most of us use it from sources (.scss files) with a task runner webpack/gulp. so it's easy not to include any of (buttons, blockquotes ..) in the **miligram.sass** in order to have an optimized output.

[2016-01-15 23:36] rodrigoddalmeida commented on #42
The main two options are:

1. setting the white-space property to `pre-wrap` (will wrap the text)
2. setting the overflow property to `auto` (will scroll when needed)

I believe scrolling is the best option, since we may want to actually preserve character position in the code tag. What do you think?

[2016-01-16 00:00] rodrigoddalmeida commented on #34
@Raika: The W3C have some guidelines regarding RTL/Bi-directional text in HTML: http://www.w3.org/International/tutorials/bidi-xhtml/

Start by having the `dir="rtl"` attribute in the `<html>` tag and work through some of the styles after that.

[2016-01-16 01:03] rkb81 opened #43 "Flexbox options"
I not found option in flexbox grid to set position and another options exists, I'm testing with https://github.com/matthewsimo/scss-flex-grid to integrate this functions.

[2016-01-16 03:22] cjpatoilo commented on #42
I had noticed as well. "This request has been blocked; the content must be served over HTTPS."
![image](https://cloud.githubusercontent.com/assets/1542831/12370192/5fcb168a-bbe6-11e5-9f0e-53997b5456e2.png)

BTW thanks for the PR @plfstr

[2016-01-16 03:22] #42 closed

[2016-01-16 14:55] cjpatoilo commented on #40
@rrrene Thanks for the contribution

[2016-01-16 14:55] #40 closed

[2016-01-16 15:01] cjpatoilo commented on #43
That's true! Could you send a pull request with your test?

[2016-01-16 16:59] warthogweb opened #45 "Styling Rows and Columns"
I would like to do some simple styling such as top/bottom margin, borders etc. to these. The styles I am adding are having no effect when I put them where I think they should go. Any help would be much appreciated.

Martin

[2016-01-22 07:02] rajzshkr commented on #34
if you guys needed, I can support for RTL.

[2016-01-22 09:03] Raika commented on #34
@rajzshkr  I added PR #44

[2016-01-22 11:29] rajzshkr commented on #34
@Raika I think this will increase the css lines, instead have a variable $rtl =  true and generate the css dynamically.

[2016-01-22 11:41] rajzshkr opened #49 "Adding more css utilities"
It is better to have utilities when developing a frameworks, we can have more utilities like center, ellipsis, textNoWrap, textTruncate and much more. looking to give a pull request.

[2016-01-23 14:00] adcoolguy commented on #6
Also, not sure if this is a bit out of topic but we are wondering why the table style looks so ugly compared with Bootstrap's table? Do you have style like "table table-striped table-bordered"?

[2016-01-23 16:19] RStrydom opened #50 "No additional examples"
Under each section in the documentation is a link that says "See more examples of {section} here.". In some of these sections multiple implantations are discussed but not showcased, for instance the Codes section. Please can we either provide more examples or remove the link as it is quite frustrating to the user: landing on a page showing an isolated view of the section you just clicked on, on it

[2016-01-23 20:26] Raika commented on #34
@rajzshkr I think this way is better. you can use one file for both direction.
add your PR lets compare them

[2016-01-23 23:51] jonjaques opened #51 "Sass files not available via NPM"
Would be good to ship the source files with npm so they can be easily imported into existing projects. :smile:

[2016-01-24 00:55] cglong opened #52 "Rendering issues on Windows Phone 8.1"
I noticed several rendering issues on the most recent version of Windows Phone 8.1 (8.10.15148.160 on a Lumia 830). Screenshots attached :) Thanks!

![wp_ss_20160123_0002](https://cloud.githubusercontent.com/assets/137214/12533800/e143af2c-c1f1-11e5-900b-56e202f14817.png)
![wp_ss_20160123_0003](https://cloud.githubusercontent.com/assets/137214/12533803/e144b8d6-c1f1-11e5-85f2-c91762b74854.png)
![w

[2016-01-24 01:46] tomholford commented on #50
Possible to add the example pages to source control? I forked with the intention of building them out but couldn't find them :)

[2016-01-24 02:30] cvrebert opened #53 "Consider supporting the Android Browser"
It has [11% marketshare](https://www.netmarketshare.com/browser-market-share.aspx?qprid=0&qpcustomd=1) on mobile devices.

[2016-01-24 04:18] davidlim opened #54 "Naming convention consistency for clear-fix"
You used clearfix, but perhaps you should go with clear-fix to be consistent with your other classes.

[2016-01-24 09:20] olorton commented on #50
@tomholford I believe you will find the examples here: https://github.com/milligram/milligram.github.io

[2016-01-24 14:48] cjpatoilo commented on #51
Hi @jonjaques
Milligram has some versions available for [Stylus](https://github.com/milligram/milligram-stylus), [Sass](https://github.com/milligram/milligram-sass), [Less](https://github.com/milligram/milligram-less)..

Thank you for asking though

[2016-01-24 14:48] #51 closed

[2016-01-24 14:52] cjpatoilo commented on #54
Hi @davidlim

What you say makes sense, but according to this reference the use of the word "clearfix" is not separated so you do not need the hyphen. Thank you for attention.

http://nicolasgallagher.com/micro-clearfix-hack/

[2016-01-24 14:52] #54 closed

[2016-01-24 14:57] cjpatoilo commented on #53
Hi @cvrebert Great tip. I will further consider the possible to keep that best supported browser. Thanks for the info.

[2016-01-24 14:57] #53 closed

[2016-01-24 15:01] cjpatoilo commented on #52
Hi @cglong Lately I have had some support issues with the new Microsoft browser. I will further consider the possible to keep that best supported browser. Thanks for the info.

[2016-01-24 15:01] #52 closed

[2016-01-24 18:21] cjpatoilo commented on #45
Hi @warthogweb You need to show how you are doing it so I can help you. You could submit your code to some services like [Codepen](http://codepen.io/)

[2016-01-24 19:17] cjpatoilo commented on #5
Hi @cmnstmntmn Milligram has specific versions for this use

 [milligram-stylus](https://github.com/milligram/milligram-stylus)
 [milligram-less](https://github.com/milligram/milligram-less)
 [milligram-sass](https://github.com/milligram/milligram-sass)
 [milligram-scss](https://github.com/milligram/milligram-scss)

[2016-01-25 01:22] kevinmarks opened #57 "This design is ridiculously low contrast by default"
By making the body text color #606c76 you have a contrast ratio of 5.4 (dangerously close to the 4.5 minimum for WCAG AA), which you then reduce further by using font weight 300 by default from a very spindly font, Roboto.
Body text should meet AAA (7.5 contrast ratio) at minimum; if it's going to be viewed  on a mobile screen with ambient light, you will fail to be legible very rapidly.
I'd sugge

[2016-01-25 01:46] niallobrien opened #58 "Publish source to NPM"
Hi, when I pull in Milligram via `npm`, I don't have a `src` directory which is far from ideal. Can you publish the `src` directory to `npm` please? Thanks.

[2016-01-25 01:49] cjpatoilo commented on #49
Hi @rajzshkr
Note, Milligram use few classes to provides a minimum configuration of styles for a quick and clean starting point. Just it! I'm closing your request and I appreciate their efforts to improve this project.
Thanks a lot.

[2016-01-25 01:49] #49 closed

[2016-01-25 01:52] cjpatoilo commented on #58
Hi @niallobrien Let me understand why I should keep the`src` folder in the download.

[2016-01-25 01:54] niallobrien commented on #58
Because I would like to import `milligram.sass` into my own `.sass` file and have access to the same variables as those defined by Milligram.

[2016-01-25 01:58] cjpatoilo commented on #58
Oh sure, to this I thought to keep other projects in parallel, check this out:
[milligram-less](https://github.com/milligram/milligram-less)
[milligram-sass](https://github.com/milligram/milligram-sass)
[milligram-stylus](https://github.com/milligram/milligram-stylus)

[2016-01-25 02:00] niallobrien commented on #58
Ah, you should probably include those in the docs. :)

[2016-01-25 02:07] cjpatoilo commented on #58
Of course, I'm bringing great news for the next version and with them this information. I appreciate their efforts to improve this project. For now I'm closing this issue.

[2016-01-25 02:07] #58 closed

[2016-01-25 02:57] cjpatoilo commented on #19
Sorry it took me so long to respond. I really do not see how a problem of the framework. This behavior is common, and is the way some browsers behave independently of the unit used. I've read several articles that talk about this issue and none of them solve this problem.

BTW If someone finds a solution, please, feel the desire to send a PR so we can improve this problem. Anyway, thank you all fo

[2016-01-25 02:57] #19 closed

[2016-01-25 11:15] warthogweb commented on #45
Thanks - I have organized the row styles. But, can I have milligram full
width??

Martin

On 24/01/2016 20:21, CJ Patoilo wrote:

--
Best Regards,
Martin

      Durban Web Design

www.warthog.co.za <http://www.warthog.co.za>

084 432 5907

031 465 7781

[2016-01-25 15:20] timqian opened #59 "Not behaving well on mobile browser"
### good on desktop browser:

![screen shot 2016-01-25 at 23 47 00](https://cloud.githubusercontent.com/assets/5512552/12555829/03ddbe9c-c3be-11e5-826b-5c333df2b499.png)

### but on mobile device:

![screen shot 2016-01-25 at 23 15 44](https://cloud.githubusercontent.com/assets/5512552/12554898/9b154cf8-c3b9-11e5-9602-0e87193d7cd3.png)

![screen shot 2016-01-25 at 23 30 04](https://cloud.githubuse

[2016-01-25 16:28] franciscop opened #60 "Why do <button> need the class .button?"
My question is basically [this question](http://stackoverflow.com/questions/34996818) that is too opinionated for SO:

**Why do the element `<button>` need the class `.button` to have that style?**

I understand that `.button` is useful to style, say, anchor tags as buttons `<a class="button">`, but why didn't you design the element `<button>` from the ground up to have the same style? Like this:

[2016-01-25 17:34] voodah opened #61 "Similarity to Skeleton"
Everything looks very similar to Skeleton (http://getskeleton.com/).

Did you take some inspiration from them?

[2016-01-25 17:44] tomholford commented on #50
Ah of course, thanks @olorton. Added an example :)

[2016-01-25 18:03] cjpatoilo commented on #61
Hi @voodah

Skeleton is a awesome reference but if look at the code you will see that the resemblance is related apelas by simplicity of design.

See this article, I'll tell him more about how this project began.
https://medium.com/@cjpatoilo/milligram-a-minimalist-css-framework-e0496aea8167#.qaab27kgz

[2016-01-25 18:03] #61 closed

[2016-01-25 18:17] voodah commented on #45
@warthogweb You can override your '.container' and set max-width: 100%, the columns inside will adapt automatically.

Make sure to check that your media queries are also behaving like you want.

[2016-01-25 20:03] warthogweb commented on #45
Thanks - I put together a sample with some free scripts for a student -
sticky menu, megamenu etc.

zulu-culture.co.za/mg <http://www.zulu-culture.co.za/mg>

Martin

On 25/01/2016 20:17, voodah wrote:

--
Best Regards,
Martin

      Durban Web Design

www.warthog.co.za <http://www.warthog.co.za>

084 432 5907

031 465 7781

[2016-01-25 20:23] cjpatoilo commented on #45
@warthogweb You found the answer to your question?

[2016-01-25 23:42] cjpatoilo commented on #60
Hi @franciscop

I do not know why Milligram was quoted this example. If you look at the close source you will realize that it does not depend on class `.button` to style element `<button>`. You must be wondering why I kept this example on the site. Well, that went unnoticed.

shotscreen
![image](https://cloud.githubusercontent.com/assets/1542831/12568222/0e0160a6-c3a3-11e5-933f-8de560213080.png)

[2016-01-25 23:44] franciscop commented on #60
Oops I totally missed that. I went through the documentation of several CSS libraries that I knew to check it, but I didn't dig into the code, sorry about that and thanks for the answer! :+1:

[2016-01-25 23:44] #60 closed

[2016-01-26 04:08] timqian commented on #59
Problem solved by adding this meta tag into the head:
`<meta name="viewport" content="width=device-width, initial-scale=1">`

This will prevent mobile browser scaling.

![screen shot 2016-01-26 at 12 06 50](https://cloud.githubusercontent.com/assets/5512552/12572305/56a33046-c425-11e5-8b0c-5e1ef4d7ff63.png)

ref: https://developer.mozilla.org/en-US/docs/Mozilla/Mobile/Viewport_meta_tag

Is this a

[2016-01-26 20:10] Findus23 opened #64 "npm/bower ignore "src" folder"
Is there any reason for ignoring the "src" folder in package.json and bower.json?
I am a beginner, but I thought it is common to include the source files (Sass) in the bower/npm package.
E.g. Bootstrap: https://github.com/twbs/bootstrap/blob/master/bower.json

I hope you can help me.

[2016-01-26 21:01] cjpatoilo commented on #64
Hi @Findus23
This [thread](https://github.com/milligram/milligram/pull/55) might clarify your question. If I can help with anything else feel free to open a new question. For now I'll close this issue.

[2016-01-26 21:01] #64 closed

[2016-01-26 21:05] Findus23 commented on #64
Oh, I'm sorry. I totally missed that pull request.

[2016-01-27 00:52] #59 closed

[2016-01-27 19:21] alexiscordova opened #65 "Media query + rem documentation is incorrect"
Found the framework linked through the HTML5 Weekly newsletter, and it looks pretty great. However, I found one issue with the media query documentation (http://milligram.github.io/tips.html).

`rem` units in media queries are relative to the initial value of `font-size` on the `html` element, not the declared value (http://www.w3.org/TR/css3-mediaqueries/#units). So in essence, `em` and `rem` uni

[2016-01-30 18:09] sudheerDev opened #68 "Typo in _List.sass"
there is a missing semicolon in _Lists.sass

[2016-01-31 08:06] sudheerDev commented on #68
#69 closing this issue

[2016-01-31 08:06] #68 closed

[2016-01-31 18:51] cjpatoilo commented on #65
@alexiscordova Oops, you're right! This went unnoticed by me. In fact, Milligram use a just once break point to improve readability of the information. Already correct this on homepage and source code. Thanks a lot for the info!

[2016-01-31 18:51] #65 closed

[2016-02-01 04:24] alexjj opened #70 "Nav bar as part of milligram?"
Love the look of this framework, great job!

Upon trying it out I realised that the nav bar that's part of the [homepage](https://milligram.github.io/) isn't actually part of milligram. Actually, a few things of the homepage aren't part of milligram. It was easy for me to add it to my project, but are there plans to incorporate it as part of milligram?

[2016-02-01 06:08] abouthiroppy commented on #70
https://github.com/milligram/milligram/pull/46

[2016-02-01 15:18] tmpfs opened #71 "Textarea should set font-family"
Textarea is being applied a `monospace` user agent style for `font-family`, looking in chrome, using `v1.1.0`.

I believe it should use the same font applied to `body`.

[2016-02-03 10:44] barrymcgee commented on #71
@tmpfs I'm not seeing this in the demo? https://milligram.github.io/forms.html

Can you provide a CodePen replicating your bug as per the [guidelines](https://github.com/milligram/milligram/blob/master/contributing.md#open-an-issue) please?

[2016-02-03 10:50] barrymcgee opened #73 "Getting Started guidelines contains Portuguese words"
I noticed when viewing the '[Building](https://github.com/milligram/milligram/blob/master/contributing.md#building)' notes that the first sentence contaisn Portuguese;

"First install Node.js, _em seguida_ Grunt _e_ Sass for the build process."

This should be;

"First install Node.js, _then_ Grunt _and_ Sass for the build process."

[2016-02-03 11:21] tmpfs commented on #71
Your page https://milligram.github.io/forms.html looks fine to me in Chrome and Firefox, likely a problem my end, closing as not an issue.

[2016-02-03 11:21] #71 closed

[2016-02-03 13:12] #73 closed

[2016-02-03 22:46] cjpatoilo commented on #70
Hi @alexjj @abouthiroppy

In fact, my intention is to keep Milligram as light as possible, supporting the feature minimum necessary to initialize a project.

You helped me have a great idea! I will create a repository with components produced with Milligram. This should help many people, a place where they can more easily find something that can help it in everyday life.

http://codepen.io/milligr

[2016-02-04 13:20] cjpatoilo commented on #57
Hi @kevinmarks
Thanks for the info. I'll review the info you passed. Thank you for your attention and for your willingness to help this project be even better.

[2016-02-04 13:20] #57 closed

[2016-02-04 18:50] #26 closed

[2016-02-04 19:03] cjpatoilo commented on #5
@cmnstmntmn Milligram already has support for this use. I created other repositories in parallel to support some preprocessors beyond Sass (source code). Unfortunately I have not had time to update the homepage with this information.

BTW, thanks for the suggestions.

[2016-02-04 19:05] #30 closed

[2016-02-05 21:30] megaghz opened #75 "Align column content"
Hi there, I need to align column content to the right and wondering if there is any class to do it. Tried with float-right class for my column div with no luck.

thanks

[2016-02-10 11:57] megaghz opened #76 "wrap columns problem"
Why is that when I wrap my row's columns in a nav tag, they stack each other... it works when I unwrap them.

[2016-02-11 13:28] cjpatoilo commented on #75
Hi @megaghz
For you align the content to the right you use the property `text-align`. But if you need to align the column to the right, use the grid system.

[2016-02-11 20:17] cjpatoilo commented on #76
Hi @megaghz could you show me an example? You can use the [Codepen](http://codepen.io/) for this, do not forget to attach the link.

[2016-02-11 20:23] megaghz commented on #76
<section class="container">

        <div class="row">

            <nav id="mainnav">
            <div class="menu column column-25">
                <a class="btn" href="#">ABOUT</a>
            </div>

          <div class="menu column column-25">
                <a class="btn" href="#">ABOUT</a>
            </div>

          <div class="menu column column-25">
                <a class="btn" hr

[2016-02-11 20:23] megaghz commented on #76
[code]

[2016-02-11 22:04] #75 closed

[2016-02-12 13:23] cjpatoilo commented on #76
The `.row` class has defined Flexbox property. This class is also responsible for the behavior of `.column`. Look at these examples:

[code]
or
[code]

You can find more information about the use of grids.
http://milligram.github.io/grids.html

[2016-02-13 16:15] megaghz commented on #76
so I can't wrap a row?

[2016-02-13 18:17] cjpatoilo commented on #76
Yes, you need

[2016-02-17 20:02] valerielitman commented on #43
Hi @rkb81,
I had some problems with the flexbox grid when I used Milligram SCSS.  I went into the grid.css file and played around with .row. I removed `flex-direction: column;`. I also removed some of the nesting so that .row ends here and no longer includes the column classes:

[code]

Let me know if that helps!

[2016-02-19 03:55] Mortiferr opened #78 "Suggestion for a Fancy Button Style"
I think the whole project could benefit from `transition: all 0.3s ease 0s;` on the animations to make it look smoother.

I designed a simple button and a link that looks like a button with these transitions. I called the classes `fancy-button` and `fancy-link` in the demo. Hope you like the idea.

[buttons for milligram.zip](https://github.com/milligram/milligram/files/137406/buttons.for.milligra

[2016-02-25 19:19] kresogalic8 opened #80 "Problem with grid"
Hello, i worked with grid and i have members page which have 100+ profile cards. I created one row with column-25 but all goes in one line.

Is there any solution for that? i need them like 4 in row then next below, now they are all in one line, my code goes like this

[code]

[2016-02-27 20:45] kevbook commented on #78
transitions and such things, need to be in the user land, not in the framework.

[2016-03-04 20:57] ImadJomaa commented on #80
You need to add the row-wrap class:

`<div class="row row-wrap">`

Do note however, that using it further limits browser support.

[2016-03-05 11:57] steveoc64 commented on #80
Having the same issue, adding row-wrap doesnt seem to work :

http://codepen.io/steveoc64/pen/WwQgxG

Manually overriding the style makes it behave though.

`<div class="row" style="flex-wrap: wrap">`

I dont know enough about CSS to grok why it doesnt behave as expected.

[2016-03-07 19:43] ImadJomaa commented on #80
There was an oversight on my part, it should have been:

[code]

Albeit, this doesn't seem to work due to the appeared inheritance of the display property being block rather than flex. Perhaps the intended design was that aforementioned. In other words, your solution was probably the intended solution.

[2016-03-08 01:39] steveoc64 commented on #80
Thanks Imad ... the "workaround" does the trick for now, but I will also have a go at trying to make the initial intent work as well.

Sounds reasonable to have class="row row-wrap" perform as expected, without having to nest another div underneath.

... another job for a rainy day  ;)

[2016-03-09 14:39] jonathan-s opened #81 "column-100"
Shouldn't there be a `column-100` as well. In case you want to specify that you indeed want an element to take the entire width. If you just specify `column` and you put in another it won't take the entire width.

[2016-03-16 17:18] enkota opened #83 "Grid mobile responsive for different widths"
Hey, having a great time using milligram...really lightweight.

Coming from bootstrap's grids i'm used to having say `<div class="col md-7">` going full width on mobile devices. Is this possible with milligram? At the moment I am using `<div class="column column-70">` but when it goes down to small screen sizes the with is still 70% not 100%.

Cheers!

Scott

[2016-03-23 20:30] davedele opened #84 "Grids are broken in IE11"
In the demo, the grid items  collapse on one another. Only seeing this in IE11.
Also, there is no full list of supported browsers in the docs.

[2016-03-24 17:46] cjpatoilo commented on #84
Hi @davedele You can tell which version of your OS? You can also provide some print screen?

[2016-03-24 19:06] davedele commented on #84
Hey @cjpatoilo, thanks for your reply. To be more specific, at any mobile breakpoint you get what you see in the attached image.

I'm using IE11 on Windows7
![untitled-3](https://cloud.githubusercontent.com/assets/3038776/14028228/75e5f570-f1c9-11e5-9fbf-f848a477b88e.jpg)

[2016-03-24 20:08] cjpatoilo commented on #84
Hey @davedele For IE there is a partial support due to the great amount of bugs ([see known issues](http://caniuse.com/#search=flexbox ))

Thank you for reporting this issue. I will improve this information on the homepage.

[2016-03-24 20:18] cjpatoilo commented on #83
Hey @scopeak

So, the grid system does not have the same behavior and support as other framework: Bootstrap, Foundation .. BTW, this is a great idea for the next version.

[2016-03-24 20:21] cjpatoilo commented on #81
Hey @jonathan-s I dont know. I see this case as a new line. What do you think?

[2016-03-24 21:10] davedele commented on #84
Thanks @cjpatoilo, Here's a quick workaround for IE11:

I use a bit of js to find the UserAgent [http://rog.ie/blog/html5-boilerplate-addon](url)

Then I add a new media query:
[code]

What's breaking it in IE is the "flex:1" in the class ".row .column".

[2016-03-25 00:11] scopeak commented on #83
No worries! I ended up replacing with the bootstrap grids and keeping the rest for now. Would be a great addition though I think :+1:

[2016-03-31 18:01] voylinux commented on #5
How about having most values like sizes (not only colors) in a variables file?.
It would be easy in case you need to overwrite any value in your project without adding extra declarations.

How do you feel about it?
I could prepare a pull request with some of those.

[2016-04-01 13:52] alexcarpenter opened #85 "Focus states for links"
Within links we should add the focus state for accessibility reasons.

[code]

https://24ways.org/2009/dont-lose-your-focus

[2016-04-03 20:29] sudheerDev commented on #85
@alexcarpenter Most of the other tags do have focus states.I added focus for a tag. Thanks for pointing it out

[2016-04-03 20:39] sudheerDev commented on #28
@cjpatoilo you can create different active branch for package managers. something in the lines of https://github.com/chinmaymk/angular-charts/issues/45 might also work

[2016-04-18 08:56] equinusocio opened #87 "Root font-size update"
Please update the root font-size to 100% so 1rem will be 16px (instead of 1.5rem=16px) for a more easy calc

[2016-04-28 16:13] netoguimaraes commented on #83
Hello @cjpatoilo and @scopeak

I looked at the milligram project and the only thing I've missed was a grid system minimalist and lightweight. I have an small project that proposes it: a minimalist grid system. Maybe, it need a improvement on syntax for get more readable for humans. Could you guys take a look? I think it's a good alternative to get this issue closed.
https://github.com/netoguimarae

[2016-05-03 04:59] roryprimrose opened #89 "Include src in the bower package"
Currently the bower package does not include the src folder. This means that we can't use sass + gulp to customise the milligram output. For example, I might want to ditch grid and code to get a smaller output and I might want to make changes to the colour variables. This is currently not possible because the only two avenues I have to play with are css via bower or css via CDN.

[2016-05-07 19:30] elad commented on #81
Two `column-100` are effectively two rows, so why not just use `row` with one `column` inside it? it feels much cleaner to me.

[2016-05-07 19:31] elad commented on #78
What @kevbook said. The beauty of this framework is that it **doesn't** have all the bells and whistles of other, more bloated frameworks.

[2016-05-07 19:33] elad commented on #45
@cjpatoilo I think he wants `.container-fluid`, that spans the full width of the viewport. Wouldn't hurt to add.

[2016-05-09 15:49] alexcarpenter commented on #87
@equinusocio 1.6rem = 16px when the root font size is set to 62.5%.

[2016-05-09 15:57] equinusocio commented on #87
@alexcarpenter not really no. No more.

- http://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/

- http://stackoverflow.com/questions/24542508/default-html-font-size

- http://alistapart.com/article/howtosizetextincss

- http://www.w3schools.com/css/css_font.asp
Note: If you do not specify a font size, the default size for normal text, like paragraphs, is 16px (16px=1em).

And many

[2016-05-09 20:34] #78 closed

[2016-05-09 20:38] Mortiferr commented on #45
@warthogweb That link doesn't work.

[2016-05-10 16:58] dubcanada commented on #84
Change `.row .column` from `flex: 1;` to `flex: 1 1 auto;`

Works better, and it works for all browsers. Including IE11.

[2016-05-10 21:16] clayreimann commented on #89
@cjpatoilo This should depreciate all of the `milligram/milligram-*` packages since those packages aren't being maintained.

[2016-05-10 21:36] cjpatoilo commented on #89
@roryprimrose @clayreimann This month I will arrange the house to leave everything in order.
Thank you for your attention, I like that.

[2016-05-17 11:43] EmilMoe commented on #70
Doesn't seem to be well known or used, but I would like a range of navbars too

[2016-05-18 10:18] TimonVS opened #93 "SCSS port"
I created a Scss port because I wanted to import the files in my project.

I'm not sure if we should merge the project into one or not. I can provide a script that automatically converts all the Sass files to Scss when building the project.

Link to fork: https://github.com/TimonVS/milligram-scss

[2016-05-20 20:46] TimonVS commented on #89
Please also include the src folder in the npm package :).

[2016-05-21 04:42] #84 closed

[2016-05-25 14:36] bencoveney commented on #93
Just FYI, there is already a project for this - [https://github.com/milligram/milligram-scss](https://github.com/milligram/milligram-scss)

I've got no idea how up to date it is though and I guess it could be better documented that it exists.

[2016-05-25 14:43] TimonVS commented on #93
Wow, I don't know how I missed that!
Thanks. I'll check if it's up to date.

[2016-05-25 14:43] #93 closed

[2016-05-27 20:29] #85 closed

[2016-05-29 04:46] mcjp78 opened #95 "Centering Text"
Hi,
I've looked through the docs and I can't seem to find a way to center text, is there a way of doing this through milligram?

[2016-06-07 13:49] webmarkelov commented on #95
No, only main helpers

[2016-06-14 17:36] arrel opened #96 "Use SVG xml instead of base64 encoding in CSS"
As described here: https://css-tricks.com/probably-dont-base64-svg/

[2016-06-25 14:42] cjpatoilo commented on #95
@mcjp78 thanks for asking, and @webmarkelov to help with the answer.
Sorry, but milligram should be minimalist and the simplest possible.

[2016-06-25 14:42] #95 closed

[2016-06-25 14:54] #81 closed

[2016-06-27 06:30] cjpatoilo commented on #89
@roryprimrose @clayreimann @TimonVS  I had chosen create independent modules for each preprocessor (less, sass, stylus..) to optimize the use, keeping the main repository with pure CSS. I'm thinking of a solution to keep everyone in a single repository, but I do not know how far it can really help or further complicate the use of Milligram. What do you think?

[2016-06-27 16:43] clayreimann commented on #89
@cjpatoilo I think the best course is to write it once in sass/less/scss/whatever and then provide transpiled versions in different directories in `dist/`.

Most people will be pulling this down on their build server and will then recompile/flatten it into their stylesheet bundle so will never notice the extra ~100kb to download all the variants. For people who only want the compiled CSS they can

[2016-06-27 17:09] TimonVS commented on #89
I completely agree with @clayreimann. Keeping everything in one repo will also make it easier for contributors to contribute something (instead of having to contribute to several different repos).

[2016-07-08 14:49] jackmcpickle commented on #76
@megaghz this should be fixed in the latest merge https://github.com/milligram/milligram/pull/100 - also see [my example](http://codepen.io/jackmcpickle/pen/XKakpK)

Maybe read up on `display: flex` and how it works - as it only affects its direct children.
The css-tricks article on flexbox is a great place to start https://css-tricks.com/snippets/css/a-guide-to-flexbox/

[2016-07-09 01:46] jackmcpickle commented on #45
My new PR https://github.com/milligram/milligram/pull/101 enables you to change the container max-width by setting the `$container-max-width` variable.

[2016-07-11 17:28] ruvido commented on #83
+1 for this, much needed. It's not difficult to do, just don't know how much _weight_ we'are gonna put :D

[2016-07-15 00:24] Orbyt opened #102 "Headings look different?"
Heading on the milligram example page: http://prntscr.com/bt1vmy

My headings on a blank page with milligram added: http://prntscr.com/bt1vs0

As you can see, they look very different. Why is this? The css when inspecting seems to be the same. I've also tried on another browser. What might be the issue?

[2016-07-17 15:27] Mortiferr commented on #102
It looks like they just added `font-weight` or something similar to make it thinner.

Upon further investigation I found it.
[code]

As you can see, `font-weight: 300;` is making the letters look thinner and less bold. Milligram is a framework, not a full website maker so it's meant to be customized.

[2016-07-17 18:45] Orbyt commented on #102
@Mortiferr No, thats not it. As mentioned, the css is exactly the same. I was having this problem with with another css framework as well. I think the issue was I was assuming that the font the framework used was included, and did not need to be explicitly included.

This seemed to fix the issue on the other framework, so I would assume it is also the fix for this issue. I have not tested it, but

[2016-07-17 18:45] #102 closed

[2016-07-19 06:34] unip commented on #83
Same problem here.
I agree with @cjpatoilo, make it as a new feature for the next version please. I started to switch from bootstrap to milligram because of its lightweight and simplicity dividing the grid since it uses flexbox :heart: .

[2016-07-29 01:21] steven-klein opened #106 "cssnext version"
I've created a branch that uses [cssnext](http://cssnext.io/) syntax.  I noticed there was at one time a postcss version of Milligram, and I can see a good argument for avoiding Postcss specifically, since the Sass or Less versions could be processed by someones Postcss build process, but I like the idea of having a version written with cssnext syntax, since it's potentially future css.

In the bu

[2016-08-01 04:52] cjpatoilo commented on #106
Hi @steven-klein
Sounds good. I appreciate your interest. I create the repository with what name?

`milligram-cssnext`
`milligram-postcss`
`milligram-???`

[2016-08-01 05:41] cjpatoilo commented on #43
Hi @rkb81 @valerielitman Let me know if there are any questions and I will reopen this question to answer them. For now I will close this issue, thanks.

[2016-08-01 05:41] #43 closed

[2016-08-01 05:51] cjpatoilo commented on #50
Hello guys.
Recently I updated the repository and I created two account, in [Codepen](https://codepen.io/milligram) and another in [Codepad](https://codepad.co/milligram), to support new examples. In the future I want to create a section for use cases and add more examples. I appreciate the interest in improvements and who can help with tips and examples, it will be amazing. For now I will closed

[2016-08-01 05:51] #50 closed

[2016-08-01 13:46] #76 closed

[2016-08-01 15:22] steven-klein commented on #106
I went with ``milligram-cssnext`` since the other repositories were named for the syntax that is being used.

[2016-08-02 06:12] cjpatoilo commented on #106
Hi @steven-klein check it https://github.com/milligram/milligram-cssnext
Let me know if there is anything else I can help. It will be a pleasure to participate in this project

[2016-08-03 04:25] cjpatoilo commented on #106
@steven-klein Nice job!!
https://github.com/milligram/milligram-cssnext/pull/1

[2016-08-03 04:25] #106 closed

[2016-08-03 04:41] cjpatoilo commented on #89
@roryprimrose @clayreimann @TimonVS Sorry guys!!! I've been out for a long time. I am updating all repositories during these days and everything will return to normal.

BTW you have reason on the maintainability, it will certainly be much smaller. But I'll keep the same flow with specific repositories for each preprocessor. For now I will close this request, but if there is any doubt I will reopen

[2016-08-03 04:41] #89 closed

[2016-08-03 06:20] cjpatoilo commented on #80
You could solve the problem? For now I will close this issue. Let me know if there is anything else we can help and I will reopen.

#100

[2016-08-03 06:20] #80 closed

[2016-08-03 06:26] cjpatoilo commented on #83
@unip @ruvido @netoguimaraes @enkota I appreciate it, these words mean a lot to me, thank you.

For now I will close this issue. Let me know if there is anything else we can help and I will reopen this issue as soon as possible.

[2016-08-03 06:26] #83 closed

[2016-08-04 04:24] cjpatoilo commented on #96
#98 For now I will close this issue

[2016-08-04 04:24] #96 closed

[2016-08-04 04:37] cjpatoilo commented on #5
@voylinux Thankful for disposal. There are requests about this feature, the idea is amazing. I'd love to receive your contribution as well as their opinion on these submissions.

#101
#105

[2016-08-04 04:39] cjpatoilo commented on #5
BTW about this "Framework Customization", we will soon least provide a section for this feature.
For now I will close this issue.

[2016-08-04 04:39] #5 closed

[2016-08-04 04:51] cjpatoilo commented on #45
@jackmcpickle He did not need to edit variables to solve this CSS problem. He just needs to overwrite the class `.container` setting the property `max-width: 100%`.

@warthogweb Let me know if you solved your problem, for now I will close this issue but nothing prevents re-open it later.

[2016-08-04 04:51] #45 closed

[2016-08-04 04:55] cjpatoilo commented on #22
Thanks for suggestion. I will analyze this

[2016-08-04 04:55] #22 closed

[2016-08-04 04:58] cjpatoilo commented on #34
@Raika Thanks for the PR #44 I will analyze this

[2016-08-06 04:47] cjpatoilo commented on #28
@hedii @sudheerDev I'm not really sure how I could do it, but I would add this feature in Milligram. @willianjusten suggested to using Git Hooks #108, so there will always be updated `dist` covering any forgotten about it.

[2016-08-06 12:11] enkota opened #110 "Flex box issues with Safari."
Hey,

I noticed today while browsing the demo site on chrome that the flex grid was going full width on smaller screens - something I suggest a while back [here](https://github.com/milligram/milligram/issues/83).

<img width="1046" alt="milligram safari issue" src="https://cloud.githubusercontent.com/assets/13979799/17456652/229f281e-5bd7-11e6-95d8-c3c67a52a213.png">

(Chrome on left, Safari on ri

[2016-08-06 12:16] enkota commented on #110
As a follow-up to this post, I discovered that disabling -

`/* flex-direction: row; */ `on the `.row `class will fix the issue at smaller resolutions on Safari.

[2016-08-06 12:25] cjpatoilo commented on #110
@enkota Could you tell me the version of Safari and the name and version of the platform?

[2016-08-06 14:25] #110 closed

[2016-08-06 23:49] cjpatoilo commented on #39
@vujovicigor Thanks for the suggestions, some have already been submitted, I will be providing other and they become available in the next update. =D

[2016-08-06 23:49] #39 closed

[2016-08-07 17:10] cjpatoilo commented on #87
Hi @equinusocio

So, I understand your proposal and I think it very interesting, but I believe it is easier to maintain a conversion based on decimals. I just do not understand when you say that `1.6rem = 16px` is not correct.

![image](https://cloud.githubusercontent.com/assets/1542831/17463910/95b58f42-5ca8-11e6-9667-ba6128e8d426.png)

[2016-08-08 14:36] equinusocio commented on #87
@cjpatoilo This is not a proposal :) is a fact.

In you screenshot you have `font-size: 62.5%` in your html. To get `16px` you have to write `1.6em` it's ok, but the only advantage is the conversion based on decimals.

Instead if you use `font-size: 100%` in your html to get 16px you have to simply write `1rem`, and it's relative simple to get the px conversion, just do `( *px / 16 )`. So if you w

[2016-08-24 19:53] datiswous commented on #75
Afaik the grid system doesn't actually have a class for aligning columns to the right. If it does, show me the info.
I just overridden that (with _flex-direction: row-reverse_ ) for use with a navigation menu to the right.

[2016-08-26 13:32] akmur opened #114 "Change .column to .element"
Just my two cents on the naming side of things.

I think it would be better to use .row-element or .element rather than .column, because we might have situations where columns get stacked or shifted around thanks to flexbox super powers, and they are not columns anymore at that point, so the naming seems odd.

What do you think?

Thanks for the nice library

[2016-08-26 13:35] akmur opened #115 "Use classes instead of html elements for typography"
I think it would be a good idea to turn those h1, h2, h3 styles into classes, something like 'alpha', 'beta', 'gamma', etc or other class names.

This would make sense because an h1 element is not always the biggest on the page.

[2016-08-28 01:28] cjpatoilo commented on #114
@akmur You're right and it seems to make sense. For now I prefer to keep this term by doing more semantic. Anyway thank you for the contribution.

[2016-08-28 01:28] #114 closed

[2016-08-28 01:48] cjpatoilo commented on #115
@akmur You're right, not always. But by default Milligram provides a minimal set of styles for a fast and clean starting point.

[2016-08-28 01:48] #115 closed

[2016-08-31 16:38] jkinley-sds opened #116 "Flex Modifiers don't seem to be working"
How do I use .row-wrap, .col-bottom, etc? I have tried numerous ways  and they do not seem to work. Also, I don't see the breakpoints working either. I apologize if this is my ignorance, but I was unable to see these things identified in the docs. I hope this helps...

### Version info

**Milligram:**
https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.css

**Other (e.g. normalize.css

[2016-08-31 22:29] bkgunby opened #117 "Matching container padding and row gutter (grid)"
https://github.com/milligram/milligram/blob/master/src/_Grid.sass#L9

Is there a reason why the container's padding doesn't match the row's gutter? Currently the container's padding is `2.0rem` and `1.0rem` for the gutter. Just wondering.

[2016-09-02 12:21] v3rmin commented on #110
Did you ever release a new version?

[2016-09-02 12:41] enkota commented on #110
@v3rmin I don't think so but you can easily change the breakpoints.

So for instance change

[code]

to

[code]

[2016-09-09 18:04] cjpatoilo commented on #116
Hi @jkinley-sds
Sorry if this has caused any problems, then less will be available the next version of Milligram with this issue fixed. #88

[2016-09-09 18:05] #116 closed

[2016-09-15 17:17] joekaiser opened #118 "Hiding/showing elements based on screen size"
Is it possible to hide or show an element based on the current screen size? For example, hiding certain images on mobile, or showing extended navigation options when the screen size permits.

[2016-09-16 04:08] cjpatoilo commented on #118
Hi @joekaiser

Yes, you can use the features of CSS3 - Media Queries https://css-tricks.com/logic-in-media-queries/

[2016-09-16 04:08] #118 closed

[2016-09-16 04:12] joekaiser commented on #118
Yes, I am familiar with that and it is what i am currently using. I made a visible-desktop class I can apply to content. I guess I was wondering if a similar class was built in, and I was overlooking it. Thanks for the quick reply

(Milligram is quickly becoming my favorite CSS framework. I love how small and light it is. Keep up the good work! )

Sent from Nine
________________________________
Fr

[2016-09-27 10:13] sstikkel opened #119 "Em units for media queries"
Please use em units for media queries regarding documentation.

https://zellwk.com/blog/media-query-units/

[2016-10-01 15:06] Kcchouette commented on #70
Same here.

[2016-10-08 17:40] mmoses opened #120 "color"
### Version info

**Milligram:**

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**
### Test case

### Steps to reproduce

### Expected behavior

### Actual behavior

[2016-10-08 18:36] LazuLitee opened #121 "Wrong image source in readme"
![readme](https://cloud.githubusercontent.com/assets/15102755/19215159/c52cc460-8d96-11e6-8151-393197391e4b.jpg)

[2016-10-10 15:07] luisaceituno opened #122 "Build fails on Windows"
### Version info

**Milligram:** 1.1.0

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**
    "dependencies": {
        "normalize.css": "latest"
    },
    "devDependencies": {
        "autoprefixer": "^6.3.6",
        "backstopjs": "^1.3.5",
        "browser-sync": "^2.13.0",
        "node-sass": "^3.7.0",
        "npm-run-all": "^2.1.1",
        "on

[2016-10-29 17:46] schang933 opened #124 "Feature Request: Input Range"
First of all, awesome framework! Love not just the simplicity but the balance of features.

This is not commonly used, but it's odd to support most form elements and leave input ranges unstyled. Thought I'd bring it up as a discussion more than an absolutely necessary feature.

[2016-11-03 02:50] Anfelroth opened #125 "Hi! Milligram include support for responsive web design?"

[2016-11-03 13:44] cjpatoilo commented on #125
Hi @Anfelroth
Yes. On the website talks about one of the techniques (Mobile First) you can use. See more examples here: https://milligram.github.io/#tips

[2016-11-03 17:08] Anfelroth commented on #125
Wow! Thanks a lot, useful info. Cheers!

[2016-11-03 23:51] cjpatoilo commented on #125
@Anfelroth You're welcome! Let me know if you need anything else.

[2016-11-03 23:52] #125 closed

[2016-11-05 02:19] eugene-p opened #126 "Feature: Add `src` folder to an npm distribution"
Thanks a lot for a fantastic framework.

I think it would be great to have `src` folder a part of npm(bower)

`npm install milligram` - would also pull src folder

That would remove need of maintaining separate `miligram-scss` repository and package.

All goodies in one place.

[2016-11-05 18:19] cjpatoilo commented on #126
Hi @eugene-p
This thread (#55) might clarify your question. Let us know if you need anything else.

Thank you for asking though, for now I'm closing this issue.

[2016-11-05 18:19] #126 closed

[2016-11-07 13:31] neronmoon opened #127 "Feature request: vertical allign helper"
Since milligram's grid system based on flexboxes, is it hard to implement utility classes to align some stuff vertically? Please, it's 2k16!

[2016-11-11 06:41] cjpatoilo commented on #121
Opss.. @LazuLitee Thanks for the attention. I just fixed that problem.
Let us know if you need anything else.  For now, I will close this issue.

[2016-11-11 06:41] #121 closed

[2016-11-11 06:43] cjpatoilo commented on #122
Hey @luisaceituno

I just update the version. Let us know if you need anything else.
For now, I will close this issue.

[2016-11-11 06:44] cjpatoilo commented on #120
@mmoses ???

[2016-11-11 06:44] #120 closed

[2016-11-11 06:48] cjpatoilo commented on #119
Hey @sstikkel There is already an open discussion for this request. (#87)
Thank you for sharing your thoughts. For now I'm closing this issue.

[2016-11-11 06:48] #119 closed

[2016-11-11 14:38] cjpatoilo commented on #127
Hi @neronmoon
You're right, it's 2016! Milligram uses flexbox in the grids system. For vertical alignment use these classes:
`.row-top`, `.row-bottom`, `.row-center`, `.row-stretch`, `.row-baseline`.

Let me know if you still have any doubts about vertical alignment.

[2016-11-11 14:44] cjpatoilo commented on #117
Hi @bkgunby
Yes. The columns have a lateral spacing, so the first and last columns of each row will need this padding.

Let us know if you need anything else.

[2016-11-13 08:42] mmdsharifi commented on #34
One of best ways that I use is [rtlcss](https://github.com/MohammadYounes/rtlcss), we can use with postcss. what's your idea @cjpatoilo ?

[2016-11-15 22:14] reygoch opened #128 "Nested grid system"
Is it possible to have nested grid system. Currently if I try to have column within column padding doesn't align with outher parts of the grid.

We should be able to mark column as row as well, which would cause it to loose padding, like this :
[code]

This would allow much higher flexibility when designing semantic markup, because sometimes I want to have container that is a column within some ot

[2016-11-19 08:07] mmdsharifi commented on #122
in version `1.2.0` and node `6.9.1`, npm `3.10.9`  have same error.

after install autoprefixer globally it still have above error. and `banner` have this error:

[code]

[2016-11-19 18:50] cjpatoilo commented on #122
Hi @mmdsharifi

So Milligram use npm scripts for build system. You will not need to install any global dependencies. You only need to have the latest version of [Node](https://nodejs.org/en/download/current/) installed and run `npm start` or` npm install`.

Let us know if you need anything else.

[2016-11-22 10:19] cjpatoilo commented on #122
@luisaceituno @mmdsharifi I'm working to solve this problem. I added the AppVeyor service to ensure build quality in Windows environments. To follow, just access this link:
https://ci.appveyor.com/project/cjpatoilo/milligram

[2016-11-23 19:35] garretwilson opened #129 "Heading sizes need adjustment."
I started using Milligram 1.2.0 primarily for a nice stylesheet for generating documentation. Compared to a lot of CSS frameworks, it looks great on paper.

But the headers! I can't tell the difference between `<h2>` and `<h3>`, frankly. Chrome is telling me that `<h2>` is getting `4.2rem` and that `<h3>` is getting `3.6rem`, but you couldn't tell it by looking at it.

Could Milligram switch to he

[2016-11-23 20:11] nateberkopec commented on #129
Have to say I agree. Avid user of the framework but the headers leave something to be desired.

[2016-11-23 20:32] cjpatoilo commented on #129
Hi @garretwilson @nateberkopec

Good issue, guys! I'll do some testing to see how we can improve this. About this do you have any suggestions?

BTW, I'd like to share with you a new feature that has been added recently to ensure the quality of the framework. It analyzes and reports any changes that are made to the framework. If there is a detail that is going unnoticed it will be identified after

[2016-11-23 21:07] nateberkopec commented on #129
@cjpatoilo The traditional typographic scale is covered [here](http://webtypography.net/3.1.1) and [here](http://spencermortensen.com/articles/typographic-scale/)

I think the main problem here is that scale isn't followed for h1 and h2 - they need to be bigger.

Based on those resources, here's a suggestion:

[code]

[2016-11-23 21:38] garretwilson commented on #129
I'm undecided if I like things that big. But anyway I still can't tell the difference very much between h2 and h3. I'm thinking they need to decrease in size faster.

Maybe look here for ideas:
* https://www.w3.org/StyleSheets/Core/stylebot.html?family=8&doc=Sampler
* http://materializecss.com/typography.html#headers
* http://www.blueprintcss.org/tests/parts/elements.html

[2016-11-23 22:00] nateberkopec commented on #129
If you want a large body type size (like Milligram does at 16px), h1 is probably going to be pretty big. That's just sort of how typography works. You can't have small headers and big body text, trying to cram 5 different header sizes in too small a range means you can't tell the headers apart (like now). Milligram needs to either make it's body text smaller (I'm not in favor of that) or make it's

[2016-11-23 22:05] garretwilson commented on #129
I just tried out the first three of those, and I like those much better!! And I'm OK with H6 being the same size as the body. I recommend you just make H6 bold or something by default. But even if you don't, I personally will seldom go down to H6 anyway.

[2016-11-23 22:32] nateberkopec commented on #129
The mobile font sizes will also need fixing - they're far too similar to be usable. I'd recommend just using the same scale for mobile.

[2016-11-28 18:31] garretwilson opened #130 "No <figcaption> styling."
I sure wish I could find a decent stylesheet for reports that looks decent out of the box and provides some acceptable default for all HTML5 elements. You'd think the web would be crawling with such stylesheets.

Milligram doesn't provide any styling whatsoever with for `<figcaption>`. If I put a caption on a figure (e.g. containing an image) it doesn't look like a caption --- it doesn't look any

[2016-11-28 18:32] garretwilson commented on #129
So is this scheduled to go into a new release anytime soon?

[2016-11-28 19:08] garretwilson opened #131 "<strong> isn't bold"
Wow, I just realized that `<strong>` doesn't get bold by default. In fact it doesn't seem to have any style.

I'm about to give up on Milligram for a "reasonable defaults out of the box" CSS library. I welcome recommendations for something else.

Take for example the following HTML5 file:

[code]

Obviously, substitute your own paths for your local Normalize and Milligram copies. (I didn't see any

[2016-11-29 15:24] mmdsharifi commented on #34
#132

[2016-11-30 16:36] cjpatoilo commented on #130
Hi @garretwilson

Great idea, Great idea, who knows in the future? Now I have no intention of adding new features. I want to make the framework even lighter and focused only on minimal support.

You should look for something more specific to your project. Anyway thanks for the idea.

[2016-11-30 16:36] #130 closed

[2016-11-30 16:40] cjpatoilo commented on #131
Hi @garretwilson

You need to report something so I can analyze this problem that is happening to you. Check the [documentation](https://github.com/milligram/milligram/blob/master/.github/contributing.md#open-an-issue), it can guide you to pass the necessary information.

I'm waiting for you

[2016-11-30 16:58] garretwilson commented on #131
Um, I thought I just did. `<strong>` doesn't have any style by default.

[2016-11-30 16:59] garretwilson commented on #131
I'll update the description if it isn't clear. But... I think it is clear.

[2016-11-30 17:03] cjpatoilo commented on #131
@garretwilson You can use our [Issue Template](https://github.com/milligram/milligram/blob/master/.github/issue_template.md) for this

[2016-11-30 17:13] garretwilson commented on #131
I've updated the description. You should have everything you need now.

[2016-12-01 10:49] sudheerDev commented on #131
@garretwilson you dont need a CDN link!! all you need is a link to css file!! So, anyway here it is
https://raw.githubusercontent.com/milligram/milligram/master/dist/milligram.css.

Who said roboto dosent have bold, bolder font-weights?

https://fonts.google.com/specimen/Roboto?selection.family=Roboto:400,400i,500,500i,700,700i,900,900i

And it does work on milligram webpage
<img width="1302" alt=

[2016-12-01 10:53] sudheerDev commented on #131
@garretwilson you dont need a CDN link!! all you need is a link to css file!! So, anyway here it is
https://raw.githubusercontent.com/milligram/milligram/master/dist/milligram.css.

Who said roboto dosent have bold, bolder font-weights?

https://fonts.google.com/specimen/Roboto?selection.family=Roboto:400,400i,500,500i,700,700i,900,900i

And it does work on milligram webpage

<img width="1440" alt

[2016-12-01 10:56] cjpatoilo commented on #131
Hey @garretwilson @sudheerDev I fixed this issue. Basically it was a change in the normalize that broke the Milligram. Thank you very much for your attention.

For now I'll close this issue. Feel free to reopen this issue if this doesn't do the trick for you.

[2016-12-01 10:56] sudheerDev commented on #28
@cjpatoilo yes when you have git hook we can ignore dist using .gitignore!

[2016-12-01 11:07] cjpatoilo commented on #28
@sudheerDev Husky can prevent bad commit, bad push and other stuff like that.

[2016-12-01 11:22] sudheerDev commented on #28
@cjpatoilo ignore earilier comment. I need to know a way to generate and maintain dist without users updating it through commit. If i fond out something i will give a pull request

[2016-12-01 15:49] garretwilson commented on #131
I was making a best guess about the problem. If Roboto supports varying degrees of bold, that's great. But it looks like @cjpatoilo's solution was to simply overrides `<strong>` to make it `bold` instead of `bolder`.

So @sudheerDev , if Roboto supports `bolder`, maybe you could explain to us why it isn't working in the example I provided, and what @cjpatoilo can do to make `bolder` work instead o

[2016-12-01 15:50] garretwilson commented on #129
So I see that this didn't get into v1.2.2. Any reason why? Do I need to make a pull request?

[2016-12-01 17:02] cjpatoilo commented on #129
Hi @garretwilson @nateberkopec Nice work. This means a lot to me ♥

The discussion is open! This framework is an open source project and anyone can contribute. I hope more people have the same interest and contribute as you do. I'll go over everything that's been talked about here and I'll work on it as soon as possible.

[2016-12-01 17:03] cjpatoilo commented on #129
Hey @garretwilson `npm install` ..and chill!

[2016-12-01 17:07] garretwilson commented on #129
Could you clarify what you mean by that? I downloaded v1.2.2 from the site and this didn't seem to be included.

I was just checking on the status because I wasn't clear if this was scheduled or released or what. I also was trying to make clear that I was offering to help out, but I wasn't sure if someone had done this already. Let me know how I can help.

[2016-12-01 17:22] sudheerDev commented on #131
@garretwilson here is a [fiddle](https://jsfiddle.net/1240obpk/2/) with the described scenario.

I commented the lines @cjpatoilo recently added i.e adding `bold` lines- 528-531. you can still that the font-weight for `strong` and `b` is different from the normal text.

problem from what i see is that it is not that bolder and the reason being

      body {
        color: #606c76;
        font-fam

[2016-12-01 17:29] garretwilson commented on #131
This is very interesting and I hope to learn something from it. Thanks for the explanation, @sudheerDev . So you're saying that by declaring a `font-weight` on the `<body>` (this is part of `normalize.css`?), somehow it makes `bolder` stop working for `Roboto`? That's very good to know, but I'm still not sure _why_.

Should I file a Stack Overflow question to get more details? It seems like the pr

[2016-12-01 18:04] sudheerDev commented on #131
@garretwilson Let me see if i can shed more light on this. If its not that clear feel free to post a question on stack overflow.

    normal
     Normal font weight. Same as 400.
    bold
     Bold font weight. Same as 700.
    lighter
     One font weight lighter than the parent element (among the available weights of the font).
    bolder
     One font weight darker than the parent element (amon

[2016-12-01 18:07] garretwilson commented on #131
Yeah, I got that, and it makes perfect sense. But I guess what is confusing me is: shouldn't it still appear "bolder", because 400 is a higher weight than 300? Is the problem that Roboto doesn't support 400 vs 300, or is the problem that my monitor can't show the difference, or is the problem that my eyes can't see the difference?

[2016-12-01 18:11] sudheerDev commented on #131
<img width="1134" alt="screen shot 2016-12-01 at 23 40 48" src="https://cloud.githubusercontent.com/assets/4973621/20806122/a0fd9930-b81f-11e6-93ad-0e2009858be4.png">

check the image above. I do see a difference in weights.

[2016-12-01 18:38] sudheerDev commented on #129
@nateberkopec isn't the existing h1 at 5.0rem (50px) ? Are you suggesting that we decrease it? to 4.8rem?

[2016-12-01 18:40] nateberkopec commented on #129
@sudheerDev I'm not a typographer, I just know what I read on the internet. If you'll read the links above about typographic scales, you'll see why it's 4.8 rather than 5 (basically - spacing between header sizes follows a pattern).

[2016-12-01 18:41] garretwilson commented on #131
![milligram-strong-bug](https://cloud.githubusercontent.com/assets/627125/20807158/6498cd04-b7c3-11e6-8c07-fb336dc31dba.png)

This is very odd. Look at my screen shot in Chrome (even magnified using the Magnifier in Windows 10). I see no difference at all.

Could it be something to do with how you are including the Roboto font? What link are you using, with which URL query parameters?

[2016-12-01 18:46] sudheerDev commented on #129
@nateberkopec Got it makes sense. I will give a PR for this. lets see how they look

[2016-12-01 18:50] sudheerDev commented on #131
Thats odd!. https://jsfiddle.net/1240obpk/4/ updated link for fiddle with all the font-weights.

https://fonts.google.com/specimen/Roboto?selection.family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i

[2016-12-01 19:00] garretwilson commented on #131
That is very odd indeed. I tried the Roboto link you gave and it makes no difference for me. I still have no difference in font weight. I thought maybe the old Roboto was being cached (from the link I used from the Milligram web site instructions), so I brought up @sudheerDev's jsfiddle page above in Microsoft Edge --- but I don't see any difference there either. I'm perplexed.

[2016-12-01 19:17] garretwilson commented on #131
OK _now_ we're getting somewhere, and this is starting to make sense.

First of all, @sudheerDev , when I asked for the link you are using, I meant the link to the font's CSS to use in your HTML file, but you gave me the link to the font's _web page_. On that web page you have to generate a link to use as a stylesheet; it gives me https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,40

[2016-12-01 21:05] cjpatoilo commented on #131
Hey @garretwilson @sudheerDev

If you're thinking of just using Roboto for every project, yes, it makes sense. But there are other projects that do not make use of Roboto as main font family. Other font families does not have the same support that this family provides. Also do not forget perf. It will be slower than currently if we add more font weights.

Anyway, it's a great discussion. It pays t

[2016-12-01 23:09] garretwilson commented on #131
I don't understand what you're proposing. You're already showing Roboto on the "get started" page. We just need to change it to a Roboto that works with `bolder`. If they don't use Roboto... well, they probably won't run into this problem to begin with. The problem only occurred because the get-started example limited Roboto. Fix that and the problem is fixed.

Why force `bold`, breaking the elega

[2016-12-02 00:20] newdayrising opened #133 ""While checking for milligram:milligram@1.2.0: error: No compatible binary build found for this package.""
[EDIT] This issue is definitely a Meteor one. Atmosphere (https://atmospherejs.com/milligram/milligram) brought me here. Should this issue be reported somewhere else?

### Version info

Meteor: 1.4.2.3
Node: v7.2.0
NPM: 4.0.2-1
Linux: Arch Linux 4.4.33-1-MANJARO x86_64 GNU/Linux

Probably not relevant...

meteor-base: 1.0.4
mobile-experience: 1.0.4
standard-minifier-css: 1.3.2
standard-minifier-js

[2016-12-02 02:52] newdayrising commented on #133
I believe installation works with "meteor npm install --save milligram"

[2016-12-02 02:52] #133 closed

[2016-12-02 04:02] newdayrising commented on #133
I installed Milligram via the method above and it's not working. Not sure if I should reopen this issue. I'll just leave it closed because I have no idea what I'm doing :)

[2016-12-02 17:01] cjpatoilo commented on #122
@luisaceituno @mmdsharifi

I solved the problem generated by single quotation marks in the auprefixer task. There is now an error in the task banner. In summary the problem is about the variation of shell script commands in Windows and MacOS / Linux environments. I've created a module written in Node.js to try to solve this problem, but I need more free time to work on it.

If you can help in any

[2016-12-07 17:27] bmcgonag opened #135 "When updating meteor with 1.4.2.3 I get an error that this version is not binary compatible."
### Version info
Trying to install version 1.2.0 with a new Meteor app.

**Milligram:**
Milligram
**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**
Meteor v. 1.4.2.3

### Test case
run the `meteor` command and I get the error message. or
run the `meteor update --all-packages` command and I get the error message.

### Steps to reproduce

### Expected be

[2016-12-09 20:46] dnohr opened #136 "iPhone 6/7 Plus @ min-width"
Hi, thanks for working on this framework.

iPhone 6/7 Plus and Google Mobile Friendly test (1) is showing the full version instead of the responsive grid. Is there any thoughts on increasing the "min-width" for grid and headlines?

**Current**:
`@media (min-width: 40rem) {`

**Quick fix**:
`@media (min-width: 45rem) {`

### Version
- milligram: 1.2.3
- normalize.css: 5.0.0

Thanks.

1. https://sea

[2016-12-10 00:33] rafaelgondim opened #137 "Missing style for input[type=date]"
And for datetime

[2016-12-11 22:23] rafaelkallis commented on #136
Sharing same though as @dnohr

`@media (min-width: 45rem)` also seemed to have fixed the iPhone 6+ responsiveness for me.

[2016-12-12 13:15] bmcgonag commented on #135
Actual error:

 While checking for milligram:milligram@1.2.0:
   error: No compatible binary build found for this package. Contact the
   package author and ask them to publish it for your platform.

I don't actually have milligram:milligram@1.2.0 in my packages file, but I'm guessing that's the version it's trying to put.

[2016-12-13 05:41] cjpatoilo commented on #122
@luisaceituno @mmdsharifi Thank you for reporting this issue. I just extended the node's support. Everything is working well. I'll close this issue but I hope you keep in touch should you need to.

[2016-12-13 05:41] #122 closed

[2016-12-13 05:56] cjpatoilo commented on #135
Hey @bmcgonag You can try again, now it's working fine. BTW thank you for reporting this issue. Feel free to reopen this issue if this doesn't do the trick for you.

[2016-12-13 05:56] #135 closed

[2016-12-13 06:48] cjpatoilo commented on #117
Hey @bkgunby For now I will close this Issue. Feel free to reopen this issue if this doesn't do the trick for you.

[2016-12-13 06:48] #117 closed

[2016-12-13 06:49] cjpatoilo commented on #127
Hey @neronmoon For now I will close this Issue. Feel free to reopen if this doesn't do the trick for you.

[2016-12-13 06:49] #127 closed

[2016-12-13 07:00] cjpatoilo commented on #128
Hey @reygoch Thank you for sharing your thoughts. Your point of view is great. At first I thought so too, until I came across the [Single Responsibility Principle](https://www.toptal.com/software/single-responsibility-principle).

For now I will not touch it, but in the future it will be a great idea. Feel free to submit these improvements or reopen this issue.

[2016-12-13 07:00] #128 closed

[2016-12-13 07:08] cjpatoilo commented on #136
@dnohr @rafaelkallis Thank you for reporting this issue. I'll analyze this problem ASAP

[2016-12-13 13:20] bmcgonag commented on #135
Unfortunately still get this when I add

`milligram:milligram` to my packages on Meteor 1.4.2.3 version.

   error: No compatible binary build found for this package. Contact the
   package author and ask them to publish it for your platform.

=> Your application has errors. Waiting for file change.

[2016-12-13 17:40] cjpatoilo commented on #28
Guys @hedii @sudheerDev Have you found any solutions to improve this?

[2016-12-14 20:33] chmln commented on #131
Performance.

@cjpatoilo I think the 'right' solution would be to have `body` with `font-weight: 400`, i.e. not overriding the default `font-weight`.

That will:
1. Make `bolder`, `lighter` font properties function correctly
2. Provide better typography. Light fonts are an eye strain, and lack readability. (see comparison below)

![light](https://cloud.githubusercontent.com/assets/11352152/2119967

[2016-12-14 21:03] nateberkopec commented on #131
[Worth consulting this table on MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight) - a default font-weight:400 greatly changes the behavior of `bolder` and `lighter`:

![screen shot 2016-12-14 at 1 52 55 pm](https://cloud.githubusercontent.com/assets/845662/21200491/a216d0a4-c204-11e6-8f33-21d58e512c3a.png)

In addition, a font-weight setting of 300 has a very different fallback be

[2016-12-15 06:37] sudheerDev commented on #129
@nateberkopec thanks for the PR!. i got busy so i coudn't push

[2016-12-21 11:35] equinusocio opened #139 "Info"
How 16 sass files (mostly reset css) can be considered as a "framework?" This is much like a boilerplate/scaffold/starter-kit

[2016-12-21 17:29] joelwallis commented on #139
https://en.wikipedia.org/wiki/Software_framework

[2016-12-21 18:27] equinusocio commented on #139
This "framework" is so minimal that you need to rewrite it everytime to get a decent customization.

[2016-12-21 18:28] equinusocio commented on #139
And, you can rewrite his css in 1hr, with your desired customizations. So i don't see any help from this..

[2016-12-21 18:43] nateberkopec commented on #139
@equinusocio Do you often open up issues on open source projects just to shit on them? When someone donated their own time to give something to the world for free?

You don't find this project useful. Great. Good for you. 4,653 other people do. Opening unconstructive issues like this only waste's peoples time and discourages maintainers.

<img width="139" alt="screen shot 2016-12-21 at 11 42 34 am

[2016-12-21 18:49] sudheerDev commented on #139
@equinusocio manners dude!. You can do this in an hour great!. You can make a framework in a day awesome!. Please do it. It will help a lot of developers and projects out there.

If you dont find this useful. You dont have to use it. No one is forcing you. Dont criticise some one else's work.

[2016-12-22 06:43] rspeer opened #140 ""Age range" doesn't show on the main page"
### Version info

**Milligram:**
This is a bug on the main page, milligram.github.io.

### Test case

https://milligram.github.io/

### Steps to reproduce

* Load https://milligram.github.io/
* Scroll to the "forms" example

### Expected behavior

The "age range" label should appear above its dropdown.

### Actual behavior

The "age range" label is not there, because the HTML of the page is differ

[2016-12-22 12:09] equinusocio commented on #139
Is a simple question

[2016-12-22 14:02] sudheerDev commented on #139
@equinusocio
[code]
This isnt a question for one!.
Neither is this.
[code]
So please dont tell me to read again because i did the first time.

Okay lets say this is what you were referring when you say you have a question.

[code]

Number of files or lines of code is not a measure for qualifying as a framework IMHO. I got nothing more to say on this as it doesn't matter to me how its categorised.

[2016-12-22 14:11] equinusocio commented on #139
@sudheerDev You missed the first topic?

[2016-12-22 14:31] equinusocio commented on #139
People here know how add  "👎" reaction but doesn't know how to answer a simple question.

[2016-12-22 15:21] cjpatoilo commented on #139
Morning guys! @equinusocio @joelwallis @nateberkopec @sudheerDev

@equinusocio Let me tell you the story about my first contribution to the web. I will show you my thoughts and the principles that I cared about before and how he helped start Milligram. I hope you can draw your conclusions and build your opinion better on the definition you are seeking for Milligram.

Bootstrap, Foundation, BaseCSS

[2016-12-22 15:27] cjpatoilo commented on #139
For now I will close this issue. Already wasted a lot of energy on an impertinent content that did not add any value to the project.

@equinusocio Feel free to reopen this issue if this doesn't do the trick for you.

[2016-12-22 15:27] #139 closed

[2016-12-22 15:50] cjpatoilo commented on #140
Oops.. Thank you for the info @rspeer

[2016-12-22 15:50] #140 closed

[2016-12-22 16:01] equinusocio commented on #139
@cjpatoilo thanks for gave me a real answer.

I wasted a lot of time resetting CSS properties to customize simple components, and most of the time I did not use 90% of the framework. Milligram has a minimal configuration (only necessary).

This "only necessary" is a bit equivocal, because i think that this "necessary" is not enough in a real context. I made a couple of frameworks during my career,

[2016-12-22 18:23] joelwallis commented on #139
@equinusocio just wondering: what is your doubt? And, if Milligram is not a framework - let's say it's something else, what are you trying to do/accomplish with this issue?

[2016-12-27 20:40] tuunanen opened #141 "Remove gap between table borders"
I created a table using default Milligram styles. I noticed there's a small gap between the borders of adjacent table cells, making the table look unfinished.

![milligram-table-border-spacing](https://cloud.githubusercontent.com/assets/1409675/21507917/363fad48-cc85-11e6-93a4-6984f79ce95a.png)

The issue is caused by browser default styles where `border-collapse` is separate, and `border-spacing`

[2017-01-12 16:33] mikeriley131 opened #144 "grid elements: full width on small screens, small width on large screens?"
Just checking out Milligram for the first time. Maybe I'm missing something, but how do I have a grid column be 100% on small screens and then switch to 50% on large screens? Is that built into the CSS with a class that I'm not seeing or do I have to override that in my project?

[2017-01-20 12:04] guillaumemolter commented on #144
Thanks for bringing this to my attention @mikeriley131 I was about to start using Milligram on a project but that's a big missing feature. It's not too hard to manually add it, but isn't the purpose of a css framework that you don't need to do this by hand :-).

[2017-01-22 19:18] cjpatoilo commented on #141
@tuunanen Thanks for PR!

[2017-01-22 19:18] #141 closed

[2017-01-24 05:10] cjpatoilo commented on #28
Guys, for now I will close this PR. Feel free to reopen this issue if you find any solution.

[2017-01-24 05:10] #28 closed

[2017-01-26 17:37] cjpatoilo commented on #87
Hey @equinusocio Now I will not change that. It is currently working very well this way, but maybe in the future I will try to better understand the need for this use. Who knows.. For now I will close this issue. Feel free to reopen this issue if this doesn't do the trick for you.

Thank you very much for your contribution

[2017-01-26 17:37] #87 closed

[2017-01-26 17:40] cjpatoilo commented on #129
@garretwilson @nateberkopec @sudheerDev Finally I was able to launch the new version with these contributions. I did a search of the heading sizes based on the main frameworks and finally I came in a more adequate situation of what was requested. I hope you like it!

[2017-01-28 03:24] FourierTransformer opened #145 "Button appears clicked after clicking it"
### Version info

**Milligram:** v1.2.4 and 1.3.0
Chrome 55 on Mac OS X and Firefox 51 on Mac OS X and Windows 10

### Test case

https://milligram.github.io/buttons.html

### Steps to reproduce

Click on the button, button color changes to grey, and it stays grey after moving mouse away.

In Chrome, this affects the default, outlined, and clear button. On firefox, only the default button has this

[2017-01-28 18:50] cjpatoilo commented on #145
@FourierTransformer Good call. Also I noticed that Safari 10.0.2 does not support the active button in any of the examples: default, outlined and clear. =/

Thank you for reporting this issue. I will analyze and see what we can do to improve this.

[2017-01-28 19:18] cjpatoilo commented on #144
Currently Milligram does not support this functionality but I liked the idea. Initially Milligram was built with the purpose of being the simplest framework, defining only the minimum of possible styles. So it does not have so many features easily found in large frameworks.

I'll think of something but if you have any idea how we could implement this functionality and want to submit a PR, feel fre

[2017-01-28 21:20] guillaumemolter commented on #144
@cjpatoilo I hear you and I agree that's exactly what I liked about Milligram...just the bare minimum...but for me this a basic and essential responsive design feature.

[2017-01-30 16:19] mikeriley131 commented on #144
OK, thanks @cjpatoilo. Happy to create a PR, just wanted to make sure I wasn't missing something first.

[2017-01-30 16:40] guillaumemolter commented on #144
@mikeriley131 happy to help, review PR, etc...

[2017-02-05 04:59] Juriy opened #146 "Styles for input:not([type]) are not set"
The styles for `input` with no `type` attribute are not the same as for `input[type='text']`. Since HTML5 defines `type="text"` as default value, it makes sense to style it the same way.

Here's codepen that shows the issue: https://codepen.io/juriy/pen/bgKqBZ

The fix is one-liner, I'm submitting a pull request in a second.

[2017-02-05 13:21] kushvarma opened #148 "Breadcrumb component"
Breadcrumbs are highly used on most of the websites especially in blogs, drupal sites etc. We should create a style for breadcrumbs as well, I am thinking to work on it and provide a simple yet beautiful breadcrumb which goes with this theme.
if anyone is already worked on this, please let me know or if someone is interested in working on this let me know.
This is one of the most intriguing themes

[2017-02-06 08:17] corsonr opened #149 "Use semantic grid"
I was wondering if Milligram wouldn't become really really awesome if the grids were semantic like Bourbon neat for example. Instead of having to apply a CSS class the whole grid could be defined within the CSS. What do you think @cjpatoilo ?

[2017-02-14 12:21] whodidthis opened #150 "variable font-family"
Hopefully this issue hasn't come up before, but would it make sense to switch to using a variable for milligram's font-family? That way people who don't design around Roboto could use for example the native font stack as described [here](https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/#approach-b) and make milligram even lighter. Native stack is also a default in [bo

[2017-02-21 09:56] plugza opened #151 "cli browser-sync refresh with white screen"
When saved. browser-sync refresh itself with white screen (or blank).
Need manually refresh. Kinda annoying.

[2017-02-23 20:40] merlinpatt opened #152 "Detailed browser support"
Milligram looks great and I'd love to start using it in my projects, but the [browser support section](https://milligram.github.io/browser-support.html) isn't very detailed.

Do you know how far back browsers do support Milligram?

[2017-02-23 23:08] jgillich commented on #145
Button has `background-color: $color-secondary` set for `focus`,applying it only to `hover` should fix this (but I don't even use Miligram yet so not touching the code for now :).

[2017-02-23 23:17] jgillich commented on #152
The grid uses flexbox: http://caniuse.com/#feat=flexbox

I don't think there are any other features that require newer browsers, but even if there are, probably no big deal.

[2017-03-01 18:08] tommyip commented on #145
So will this be fixed?

[2017-03-04 08:27] warrenkc opened #153 "Navigation Bar Issues"
Hi.
I have created a navigation bar that I want to add to an html page.
See: https://codepen.io/anon/pen/NprrMY

However when using with the Milligram CSS the menu hover's stop working for the submenus.
https://codepen.io/anon/pen/ryLMWO

[2017-03-07 11:19] PurpleBabar opened #154 "Checkboxes and radio button funkiness"
Hi,
I find the checkboxes and radio buttons a little bit sad for the moment. I made a jsfiddle so you can see a nicer way to display them :)

[TheFiddle](https://jsfiddle.net/purplebabar/1mx35bxc/7/)

Tell me what you think of it @cjpatoilo :)
cheerz

[2017-03-08 09:09] CSuttie commented on #144
Created pull request 155 to add the responsive grid feature: https://github.com/milligram/milligram/pull/155

[2017-03-16 13:10] shellscape commented on #154
beautiful @PurpleBabar. should definitely open a PR for this.

[2017-03-16 16:18] PurpleBabar commented on #154
Thanks :) i'll probably open one if @cjpatoilo agree :)

[2017-03-20 23:36] szul commented on #148
I think it's a good value add.

[2017-03-24 01:36] merlinpatt opened #156 "Why margin-left: -1rem?"
For rows on screens larger than mobile, you specify `margin-left: -1.0rem;`. [Here is a link to the specific line.](https://github.com/milligram/milligram/blob/master/src/_Grid.sass#L153)

Why is this the case?

[2017-03-24 22:50] lfsantana opened #157 "Question: Columns"
How to avoid stacking columns in mobile?
I have 3 columns in a row, in mobile they stacks, how to avoid that?

srry bad english.

[2017-03-29 13:29] negativefix opened #158 "Normalize.css v.6.0.0 breaks input font-size styling"
It seems like some input element styles have been removed in version 6.0.0. Therefore, input font-size property is now inherited from user-agent styles.

Normalize v.5.0.0.
![screen shot 2017-03-29 at 15 47 58](https://cloud.githubusercontent.com/assets/1294467/24456166/d5065f14-149a-11e7-96f0-426e51de4832.png)

Normalize v.6.0.0.
![screen shot 2017-03-29 at 15 47 42](https://cloud.githubuserconte

[2017-03-30 13:57] nateberkopec commented on #158
Isn't that a problem with Normalize.css then?

[2017-03-31 09:57] negativefix commented on #158
It is possible that it might be a problem with Normalize.css. I will open a ticket and report back.

[2017-03-31 13:05] negativefix commented on #158
It seems like they removed all opinionated css rules from Normalize.css. See the commit [#649](https://github.com/necolas/normalize.css/pull/649).  Removed form element styles include the ones -such as `font-size`- that can be inherited from `body`.  Some of these rules can be included in milligram to provide consistent form styling with the rest of the framework.

[2017-03-31 13:56] nateberkopec commented on #158
Huh, that's...intense. Your screenshot is still weird though, because the forms on https://milligram.github.io/forms.html look totally normal and I'm pretty sure they don't use normalize. So I still think this is not an issue with Milligram.

FWIW I use a far smaller CSS reset with Milligram: https://github.com/nateberkopec/speedshop/blob/master/_sass/mini-reset.sass

Milligram is ~9kb uncompresse

[2017-03-31 13:58] nateberkopec commented on #157
Use flex-wrap: https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-4

[2017-03-31 14:00] nateberkopec commented on #156
This is because columns have `padding: 0 1rem`. Rows always contain columns, so to keep the gutter size consistent you have to move the row to the left to compensate.

[2017-03-31 14:01] nateberkopec commented on #154
Those look great!

Aren't there issues with styling form elements in Firefox though? Or am I making that up?

[2017-03-31 20:43] negativefix commented on #158
[](https://milligram.github.io/forms.html) looks normal because it uses normalize.css 5.0.0. Check out the source. And since your reset shares styles in common with normalize.csss 5.0.0, it is possible that you are unaffected.

I agree with you that using normalize.css is overkill. But the size is not issue here. The issue is regardless of the reset I am using, will I be able to get the appearance

[2017-04-01 00:21] nateberkopec commented on #158
Yah that was just an aside.

I guess I agree with this issue. Maybe Milligram could incorporate a mini-reset, similar to the one I posted.

[2017-04-01 08:32] polterguy opened #159 "Single file inclusion?"
Could I include a single file on my page to include milligram?

I see in the examples you have, that you also include normalize, in addition to some google fonts. Is there a way, to for instance build milligram yourself, such that it ends up with a single file inclusion? Possibly rely on system fonts instead of Google's, etc ...?

The reason why I am asking, is because I want to make sure I keep m

[2017-04-01 14:56] PurpleBabar commented on #154
Thanks :)

I d'ont see anything wrong in firefox, could you send a screen of what it looks like for you @nateberkopec ? thks 👍

[2017-04-02 00:48] Lilja commented on #144
I played around with a media query, bear with me. I'm a guy who likes back-end stuff and plays around with Linux most of my time so take my front-end development with a grain of salt. Also I haven't done anything in any css pre-processor.

@media (min-width: 495px) and (max-width:800px) {
    .row .column[class*=" column-"] {
        max-width: 100%;
    }
}
It matches a .row with a .column in the

[2017-04-07 01:00] nateberkopec commented on #154
@PurpleBabar Ignore me! Looks great in latest FF. Used to be with FF that they didn't let you style a lot of form stuff, I guess that's changed.

[2017-04-07 01:01] nateberkopec commented on #159
That's exactly how I use Milligram. In fact, I inline Milligram in the `head` tag. Example: https://www.speedshop.co/

[2017-04-07 06:28] polterguy commented on #159
Thx :)

[2017-04-07 06:28] #159 closed

[2017-04-09 13:42] marcusasplund commented on #153
milligram has margins for ul and li:s, you have to reset those with
[code]

 to make it work with your menu css
https://codepen.io/anon/pen/ryXVyq
[code]

[2017-04-10 10:30] Arrow7000 commented on #137
Yes please!

[2017-04-13 21:20] garretwilson commented on #129
The heading sizes make much more sense, now, thank you.

[2017-04-13 21:20] #129 closed

[2017-04-13 23:43] faststare opened #160 "file input support request."
Please kindly support for file input save as and open file input. tia

[2017-04-16 08:59] ellipticaldoor opened #161 "Weird select style on Firexox"
Firefox doesn't show the down arrow and also presents a border inside the input.

This happens on the latest version of firefox (52.0.2 (64-bit)) for macos.

![image](https://cloud.githubusercontent.com/assets/3449006/25070063/583d853a-228b-11e7-885a-55df5dc2dcb3.png)

[2017-04-16 12:47] merlinpatt commented on #127
@cjpatoilo what is the recommended way of using these?

I tried using this on your example grid, as shown below, but nothing centered.

[code]

On a related note, do you have a recommended way of centering the only thing in a row?

[code]

For this, I've been using `margin: 0 auto`. But the one issue is that rows have negative margin, which means that everything is off to the left.

[2017-04-17 14:22] edwardbattistini commented on #156
I am not sure to understand too... as I if I keep that -1rem then there is a gap on the right of the page.
I have removed it in the css and it works perfectly...

[2017-05-01 16:16] nirajrajgor commented on #153
@warrenkc Check the above solution and close the issue if its working.

[2017-05-02 02:33] warrenkc commented on #153
Wow. Nice.

[2017-05-02 02:33] #153 closed

[2017-05-02 06:10] bitbreakr commented on #124
@schang933 Just pulled a request about it, let see if it goes through :)

[](https://codepen.io/bitbreakr/pen/eWRpjr)

[2017-05-02 09:49] marcusasplund commented on #160
It is possible to achieve with something like this:

[code]
[code]
Heads up; do not wrap the label <em>around</em> the input, this will make IE (at least Edge) to go bonkers.

[2017-05-03 03:51] #146 closed

[2017-05-03 03:55] cjpatoilo commented on #149
@corsonr The idea seems to be great. We need to work to develop a better grid system without forgetting to make it as light as possible.

[2017-05-03 04:15] cjpatoilo commented on #151
@plugza You should be clearer. Let me know what's going on. What do you want to do?

[2017-05-05 12:43] SidKwok opened #165 "Buttons in website behaves strange."
http://milligram.io/

See social buttons:
<img width="352" alt="869b7455-8fe3-4d99-889f-234f2c07459f" src="https://cloud.githubusercontent.com/assets/13268747/25745846/727303ce-31d3-11e7-887c-f4eb3b764ae8.png">

chrome 58

safari and firefox behaves well.

[2017-05-05 15:19] cjpatoilo commented on #165
Hi @SidKwok So Thank you for sharing this information. I'll check and see if this issue has anything to do with the new version of Google Chrome. I'm the last version, I just updated, see:

![image](https://cloud.githubusercontent.com/assets/1542831/25751917/01d31ad2-318d-11e7-8b74-63c74fbe7113.png)

![image](https://cloud.githubusercontent.com/assets/1542831/25751925/07833048-318d-11e7-81f5-aa4ff

[2017-05-05 15:25] SidKwok commented on #165
I'm also 58.0.3029.96 (64-bit), it's kind of weird.
<img width="1194" alt="2017-05-05 23 23 29" src="https://cloud.githubusercontent.com/assets/13268747/25752152/f76720f4-31e9-11e7-9fc6-b22c91e78aed.png">
<img width="1194" alt="2017-05-05 23 24 00" src="https://cloud.githubusercontent.com/assets/13268747/25752156/f9ba167c-31e9-11e7-9498-9a41a087a819.png">

Is it related to the charset issue?

[2017-05-05 15:39] nateberkopec commented on #165
@SidKwok my first guess would be something related to your locale. also what OS?

![screen shot 2017-05-05 at 9 39 48 am](https://cloud.githubusercontent.com/assets/845662/25752846/c506b02a-3176-11e7-8b45-16a0f92a11a0.png)

looks fine to me on Chrome stable and Canary.

[2017-05-05 15:42] SidKwok commented on #165
@nateberkopec
macOS 10.12.4

It may be a locale issue.

[2017-05-07 05:41] imsurinder90 commented on #161
The background base64 svg encoded url is not parsed well in firefox due to following reason:
1. Double quotes are getting escaped.
2. '#' in '#d1d1d1' must be encoded like '%23d1d1d1'

The resulted url is:

`data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>`

I

[2017-05-09 23:56] chuckreynolds opened #167 "tested with normalize.css 7?"
### Version info

**Milligram:** v1.3.0

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**
[code]

### Expected behavior

work with normalize.css v7.x

### Actual behavior

¯\_(ツ)_/¯

[2017-05-10 13:54] cjpatoilo commented on #167
Hi @chuckreynolds

I understand what you mean. However, you do not need to define the dependency normalize along with Milligram in your project. Only Milligram is enough. Normalize is implicitly defined in dependencies of Milligram so it will be installed in the same way.

Let me know what's new in the new version of Normalize

[2017-05-11 23:54] chuckreynolds commented on #167
well, there's this: https://github.com/necolas/normalize.css/blob/master/CHANGELOG.md

[2017-05-12 01:43] cjpatoilo commented on #167
@chuckreynoldsI had already seen the changelog. Apparently it's just these changes:

[code]

Note, you can better visualize the changes from one version to another in this way:

[Normalize: v5.0.0 -> v7.0.0](https://github.com/necolas/normalize.css/compare/5.0.0...7.0.0#diff-bb3dde41d97f19be8ab7b4780a915d5e)

So I have not yet had the opportunity to do something more specific such as the visual re

[2017-05-12 01:44] cjpatoilo commented on #167
@chuckreynolds I had already seen the changelog. Apparently it's just these changes:

[code]

Note, you can better visualize the changes from one version to another in this way:

[Normalize: v5.0.0 -> v7.0.0](https://github.com/necolas/normalize.css/compare/5.0.0...7.0.0#diff-bb3dde41d97f19be8ab7b4780a915d5e)

So I have not yet had the opportunity to do something more specific such as the visual r

[2017-05-12 23:44] chuckreynolds commented on #167
I haven't noticed any issues on the small site i'm using this on but i'm deep in dev still.

[2017-05-15 09:52] freddi301 opened #168 "Add panel (bootstrap like)"
[bootstrap panel](https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_panels&stacked=h)

[2017-05-23 22:44] Lilja opened #170 "Box-sizing: inherit"
### Version info

**Milligram:**
`milligram.css v1.3.0`
**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**
`normalize.css v7.0.0`

### Test case

https://jsfiddle.net/cesfj6qq/10/

### Steps to reproduce

In the fiddle, **please drag the output to be atleast window to be atleast 1120px**. To verify that you have the correct width of the fiddle-window, p

[2017-05-24 09:20] Lilja commented on #170
Removing the normalize.css dependency removes the issue? It it related to #167?

[2017-05-24 13:47] JulienJo commented on #161
@imsurinder90 nice!

[2017-06-02 01:44] cjpatoilo commented on #161
Before Milligram made use of base64 img but this generated considerable weight. So we decided to upgrade to what you see today.

@imsurinder90 Could you show me how it would look (weight) using base64 svg?

[2017-06-02 01:48] cjpatoilo commented on #170
Hello @Lilja  Can you describe the problem that is generated and give me a print showing the difference between the two behaviors?

[2017-06-02 04:47] imsurinder90 commented on #161
I have already sent a PR. Have a look
https://github.com/milligram/milligram/pull/166

and let me know if any changes.

[2017-06-02 16:21] cjpatoilo commented on #161
Sorry for the delay, I'll test. When I answered you I mentioned what you said about base64.

[2017-06-03 16:17] Lilja commented on #170
@cjpatoilo [Here is a gif showcasing it. ](http://i.imgur.com/X2NnBc1.gifv)

[2017-06-05 16:04] jonathanenlared opened #171 "Question: Column widths"
### Version info

Milligram v1.3.0
normalize.css v7.0.0

### Test case

I'm using this configuration:

|------------------------------Row-----------------------------|
|------Column40%---|---------------Column60%---------------|

https://codepen.io/anon/pen/YQPERa

### Expected behavior

I expected that in mobile the columns will collapse one after the other and take the whole width just like regu

[2017-06-07 05:15] cjpatoilo commented on #170
Now I can understand exactly what is happening. Thanks for reporting, I'll review and as soon as possible return with an answer.

[2017-06-13 17:02] JulienJo opened #172 "Does it really need normalize?"
Hi!
The goal of milligram is to make small and fast website, isn'it it ?
So does it really need normalize?
Maybe something smaller like [minireset](https://github.com/jgthms/minireset.css) could do the job.
Or maybe a cssreset is just usefulness because nearly everything is already in milligram.
What do you think?

[2017-06-16 16:53] Mil00Z opened #173 "the settings of class 'column column-X'"
It is possible to set a specific column like 'column column-X' ?
X = number of my choice between 1 to 100 ?

<div class="container">

  <div class="row">
    <div class="column column-10 " >column column-10 -> Col 10%
    </div>
  </div>
  <div class="row">
    <div class="column column-40 " >column column-40 -> Col 40%
    </div>
  </div>
  <div class="row">
    <div class="column column-70 " > c

[2017-06-24 09:05] rmuratov commented on #173
Have you seen 'Column widths' [here](http://milligram.io/grids.html)?

[2017-06-26 03:26] unip commented on #173
how about setting up the grid breakpoint according to screen size. E. g. like using `sm` `md` `lg` in bootstrap?

[2017-06-27 13:28] gwleuverink commented on #70
Heya, I'm looking for a framework that can replace bootstrap for me and milligram is a serious contender.

I could really do with some more examples since I'm not familiar with the framework yet but the codepen link you posed does not work. Do you have another link?

Thanks!

[2017-06-28 04:33] cjpatoilo commented on #70
You are giving me great ideas. 😍

[2017-07-08 20:44] adamkolson commented on #171
Did anyone find a solution to this? Maybe I missed something, but it seems I'll need to add custom classes to resolve this.

[2017-07-08 23:38] jonathanenlared commented on #171
I don't think so. But you could always extend milligram to better suit your needs. I play around with the media queries and it worked as a wanted it. Monkey patching mostly. 🐵

[2017-07-08 23:40] #171 closed

[2017-07-09 07:01] sudheerDev commented on #171
@adamkolson u can resolve this by overriding existing column classes as well.

`@media (min-width: 40.0rem) {
  .column-1, column-2 {
    width: 100%;
  }
}
`

[2017-07-17 14:30] meghprkh commented on #161
@cjpatoilo Can a new release be released with the fix of the select box since it is already merged? Thanks. (currently to circumvent this I have to add these rules in my main css file)

[2017-07-25 11:53] benjamin79 commented on #136
Any update?

[2017-07-31 17:25] labradorconnect opened #175 "Gulp Watch..."
Hi there.

I can't seem to figure out how to get gulp-watch to work so that when I update the SASS files in the SRC directory, that they are automatically updated in /DIST.

Any ideas? Thanks!

-Brian

### Version info

**Milligram:**

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

### Expected behavior

### A

[2017-08-01 04:31] cjpatoilo commented on #175
Hey @labradorconnect maybe I can help you with this: http://ryanchristiani.com/getting-started-with-gulp-and-sass/

[code]

[2017-08-01 04:35] cjpatoilo commented on #173
Hey @unip good call! My fear is to fill up a lot and leave heavy. Do you know any solution with Flexbox that is lightweight?

[2017-08-03 08:17] cjpatoilo commented on #175
@labradorconnect Let me know if this trick work for you?

[2017-09-08 21:20] jsshandle opened #176 "Odd text flow when combining lists and paragraphs"
Paragraphs inside list items may produce an odd text flow with an line break immediately after the list item marker (see https://jsfiddle.net/h0uqo3wa/).

For reference, a version without paragraphs https://jsfiddle.net/thuL35vc/ and another version https://jsfiddle.net/u6qmxg7o/ with an adjustment of the list-style-position property.

Can you clarify if this is expected behavior? If not, I would

[2017-09-24 14:05] jrondorf commented on #70
Any outcome?

[2017-09-24 14:06] jrondorf commented on #70
Any outcome on the navbar ideas?

[2017-10-26 22:12] fooksupachai opened #177 "How to push other elements to the right using my sidebar?"
I want to create a simple side-navigation that takes up the entire screen's height. I am using <br>[Milligram](http://milligram.io/) for my base, and I want my side-nav to work with it. I have the following set up:<br><br>[Codepen demo](https://codepen.io/anon/pen/ZLJmzJ)<br>
As you can see, my sidebar is the following element<br>
[code]
with the following styles:
[code]
This sort of works, the si

[2017-11-01 03:53] #175 closed

[2017-11-01 03:54] #173 closed

[2017-11-10 05:37] sparcut commented on #172
Maybe the option to choose would be a good option.

I'd personally would like continue using normalize.css.

[2017-11-12 14:19] burhanloey opened #182 "Buttons are using sans-serif font"
Hi. Love the framework.

When I was working with milligram (v1.0.0), I noticed the text for `<button>` looks different than `<a>`. It turns out `<button>` is using `sans-serif`, not `Roboto`.

To fix this, we just need to add `font-family: inherit;` for `.button`.

Do you want me to make a pull request?

[2017-11-12 15:11] burhanloey commented on #182
On second thought, I'll pass on this one since I use milligram + Pure's grid and Pure already included that rule. If I add the rule it might affects the size, maybe?

Depends on you guys.

[2017-11-12 15:12] #182 closed

[2017-11-13 05:16] paniclater commented on #161
Came here to see if I could help out with this, I'm also experiencing this issue, but it looks like there is already a proposed solution merged. Has there been an updated release with this fix? Thank you for a great framework, really enjoying your work!

[2017-11-17 09:22] alzearafat opened #183 "Limit milligram's grid"
Hi there!

I'm using version v1.3.0

How I can limit milligram's grid only by (just say) 3?
In Bootstrap, I just add something like this : `<div class="col-md-4">`, and it will only show 3 grids per row.

How I can achieve similliar result in milligram?

Any help would be greatly appreciated!
Thank you.

[2017-11-20 19:55] maicolsantos opened #184 "Responsive table"
You can check a demo in the link below

[Demo](https://codepen.io/maicol-dg/pen/zPRjxJ)

[2017-11-26 12:21] darrenterhune commented on #127
To vertically align, flexbox needs to have `height: 100%;` on the parent element. In this case, you have to set for `html`, `body`, `.container` and `.row`

[code]

Then the `.row-center` works.

[2017-11-28 12:21] fabiotnt commented on #157
Can you example with milligram code?

Thanks

[2017-11-28 15:48] lfsantana commented on #183
@alzearafat

[code]

[code]

[2017-11-28 15:48] #157 closed

[2017-11-29 09:15] danieldaeschle opened #186 "Navigation Component"
What about adding toolbar/navigation component?

[2017-12-11 17:51] franzejr commented on #149
Are [CSS Grids](https://caniuse.com/#feat=css-grid) something to have in mind when developing the better grid system, @cjpatoilo?

[2017-12-14 04:13] fooksupachai commented on #150
like you say I think that font-family  should be adjusted to the value.

[2017-12-14 09:51] abc985 commented on #177
I found this problem as well. Hopefully someone will help with this problem.

[2017-12-29 15:24] alzearafat commented on #183
Thanks a lot! @lfsantana

[2018-01-01 21:03] briancodes commented on #145
Is this project still being actively supported?

[2018-01-06 01:03] mecurc opened #187 "Dead project?"

[2018-01-08 05:06] dezudas commented on #187
I am working on one of my project using this as a boilerplate.

[2018-01-08 16:11] nateberkopec commented on #187
I use this all of the time. Small, simple projects don't necessarily need releases every two weeks.

[2018-01-12 10:40] dnohr opened #188 "Grid behavior on mobile"
### Version info
- Milligram 1.3

### Steps to reproduce
[code]
### Expected behavior
I expected to see 100% width on the mobile grid, like other css frameworks are doing it.

### Actual behavior
The grid keeps the percentage width but on two lines, which looks strange.

### On Desktop
![Desktop](https://i.imgur.com/dnGRCXR.png)

### On Mobile
![Mobile](https://i.imgur.com/7nL5sgz.png)

Any soluti

[2018-01-21 18:02] minimallinux commented on #70
Milligram is pretty good but I would definitely like to see more Nav options, especially for using with Sage 9 (Wordpress) builds, which usually need a nav walker unless someone can correct me on that?, Thanks

[2018-01-29 01:46] chillyorange commented on #177
Not exactly an issue with the framework. What you're essentially after is an off-canvas sidebar. I have modified your Codepen to make it work: https://codepen.io/chillyorange/pen/EQYJvQ

Applied fixed positioning on the sidebar and wrapped the content inside an additional element with a left margin matching the width of the sidebar.

[2018-01-29 09:10] umitkucuk commented on #177
@chillyorange 's response is shoud solve your problem.

Fixed items does not scroll down. So your sidebar will have 100% height as you want.

[2018-01-31 19:14] dentonzh commented on #171
I ended up adding this to my css files, which better fits the expected behavior @jonathanenlared described:

[code]

Haven't tested it thoroughly yet, but seems to work under Chrome's mobile preview.

[2018-02-07 02:55] cjpatoilo commented on #188
Hey @dnohr Good call!

I really liked the idea. In fact, I had already imagined something like that, but I'm not sure if everyone uses it that way. It would be interesting to map this information. Could you show me what CSS frameworks use 100% on mobile?

[2018-02-07 03:25] cjpatoilo commented on #177
@fooksupachai I can help you!

If you define `position: absolute` this element will overlap the others.  You can try to use the [Milligram Grid](https://milligram.io/#grids) to have the expected behavior.

Let me know if you have any questions about how to use the [Milligram Grid](https://milligram.io/#grids).

**Milligram Grid:**

- https://milligram.io/grids.html
- https://codepen.io/milligramcs

[2018-02-07 03:31] cjpatoilo commented on #183
Hey @alzearafat @lfsantana There is a defined class for this [`.row-wrap`](https://github.com/milligram/milligram/blob/master/src/_Grid.sass#L30-L31)

[code]

[2018-02-07 04:10] cjpatoilo commented on #145
@FourierTransformer @tommyip @jgillich I haven't yet been updated if this issue has been resolved in Safari. I notice that other CSS frameworks like [Bootstrap](https://github.com/twbs/bootstrap/blob/v4-dev/dist/css/bootstrap.css#L242-L245), [Foundation](https://github.com/zurb/foundation-sites/blob/develop/dist/css/foundation.css#L2655-L2657) uses style for this behavior on button. For these reas

[2018-02-07 04:23] cjpatoilo commented on #186
Hi @danieldaeschle Milligram will remain light and simple forever.

However, in the future, I want to provide an extension of these features like toolbar, navigation, tooltips.. My doubts is about make use in this project or create a new.

[2018-02-07 09:43] dnohr commented on #188
Hi @cjpatoilo,

Seems like these frameworks are doing it:
- [MinCSS](https://mincss.com/)
- [Bulma](https://bulma.io/documentation/columns/sizes/)

I guess the solution would be to override the "column-20" width 100% if it's on mobile. Would it be possible?

Thanks for your work 👌🏻

[2018-02-15 14:27] DanielRuf commented on #187
But there are still many open issues and unmerged PRs. Some more maintainers would be definitely a good idea.

[2018-02-16 00:03] cjpatoilo commented on #187
Guys, sorry for wait! I stayed out of Open Source projects for some time.. I'm coming back!

@nateberkopec you're right! @DanielRuf too. **In fact, Milligram has no huge issues** but there is so much to do and improve this experience:

- Add CSS Variables
- Add CSS Grid Layout
- Snippet support for VSCode and Brackets
- Enhance CLI support
- Automate release
- Add support for other FF frameworks
-

[2018-02-16 00:09] cjpatoilo commented on #188
@dnohr  I have found a way to add this support and maintain the current behavior. 👍
Thanks for reporting this improvement.

[2018-02-16 00:11] cjpatoilo commented on #188
![](https://github.trello.services/images/mini-trello-icon.png) [Grid behavior on mobile #188](https://trello.com/c/PmBKb8V5/72-grid-behavior-on-mobile-188)

[2018-02-18 03:36] cjpatoilo commented on #184
Hey @maicolsantos your [PR](../pull/185)  was accepted. I will close this issue.
Thank you so much for the huge contribution

[2018-02-18 03:36] #184 closed

[2018-02-18 04:47] maicolsantos commented on #184
Thank you @cjpatoilo

[2018-02-18 19:07] popey456963 commented on #70
@cjpatoilo's link seems dead.  The new link is https://codepen.io/milligramcss/

(Plus, I would definitely be for adding a navbar to Milligram.  I disagree with others saying that it's a narrow thing for people to want, 90% of websites have a navbar.)

[2018-02-21 00:59] prampec opened #189 "Mobile resolution"
### Version info
1.3.0

**Milligram:**
Firefox on Android

### Test case
Overall readability

### Steps to reproduce
Create a simple test page with normalize.css and milligram.css included.
Add `<main>` and `<section>` blocks to the page body, add some content (text, form with input fields).

### Expected behavior
Mobile version should have bigger page components (fonts, input fields) to compensat

[2018-02-21 01:39] cjpatoilo commented on #189
@prampec I may be hasty, but I believe this issue evolves viewport settings:

[code]

If that does not work let me know how wrote your HTML.

[2018-02-21 07:43] prampec commented on #189
It did the trick. Thanks!
In this case I recommend creating a simple example page to guide others create minimal, still functional prototype. The problem with the provided examples, that they are not complete stand alone pages.
(Also note, that custom fonts are also optional. I use it for a smart device in AP mode, so all the content should be stored on the micro-controller, no online content can

[2018-02-22 14:33] juanbrujo opened #190 ".column-50 not working on mobile"
### Version info

v.1.3.0

### Test case

I'm testing right from the source of milligram.io

### Steps to reproduce
I want to have 2 columns, 50 equally distributed in all resolutions. Breaks in mobile, even having 50% width.

[code]

### Expected behavior

It should be 50% in all resolutions. Desktops ok. as seen:

![screen shot 2018-02-22 at 11 27 07](https://user-images.githubusercontent.com/36

[2018-02-22 22:02] mterron opened #191 "Easily change highlight color (#9b4dca)"
Using CSS3 variables (custom properties) it is possible to override the highlight color in 1 line of CSS.

In milligram.css have something along the lines of:
[code]

and then replace every ```#9b4dca``` with ```var(--highlight-color)```.

Once this is done, replacing the highlight color is as easy as including a custom.css file with
[code]

[2018-02-23 19:15] juanbrujo opened #192 "40rem grid don't reach iPhone 6/7 Plus"
### Version info

1.3.0

### Expected behavior

The grid must be 100% in iPhone 6/6 Plus, but they're not. Changing the @media from `40.0rem` to `42rem` works.

[2018-03-11 06:18] magikstm commented on #190
Not a bug.

It is because of this:

Ref: https://milligram.io/grids.html

You need to adjust this line accordingly: https://github.com/milligram/milligram/blob/dbbb625aa81ed6119b0f61d16d0a4f4333b526d3/dist/milligram.css#L274

[2018-03-12 21:04] juanbrujo commented on #190
thanks, it's not about the `max-width`, but the columns breaking in smaller resolutions.

[2018-03-12 22:42] magikstm commented on #190
I think it's related.

See: https://milligram.io/#tips (under: Tips > Mobile First)

[2018-03-23 19:49] dkundel commented on #191
I came here for the same thing ^^ but since it is written in SASS and you might want to support old browsers I would recommend doing a more fallback proven example like this:
[code]

This way browsers who don't support CSS custom properties will still fallback to a working version.

Cheers,
Dominik

[2018-04-06 00:30] gyasikn commented on #70
nav bar would be great

[2018-04-19 08:58] valentineus opened #193 "File `src/_Table.sass` uses spaces in tabs"
### Version info

**Milligram:** 1.3.0

**Jekyll:** 3.7.3

### Actual behavior

[code]

The Jekyll converter can not build the framework from the sources, because the source code uses tabs, and the `src/_Table.sass` file uses spaces.

[2018-05-09 18:07] piever opened #198 "dropwdown with multiple options is not fully usable"
I'm using Milligram including directly the css from:
[code]

So far I'm loving this library but I've noticed a small issue with `<select>`. The normal case works fine but the case accepting multiple options, i.e. `<select multiple>`, looks very crowded and hard to use:

![multiple](https://user-images.githubusercontent.com/6333339/39831331-06cd2170-53bc-11e8-9573-3c57fa03f871.png)

[2018-05-24 17:20] robsdudeson opened #199 "Styles not preserved when printing/emulated print rendering"
### Version info
***Milligram:*** - latest via http://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**
normalize.css - latest via http://cdn.rawgit.com/necolas/normalize.css/master/normalize.css
chrome - Version 66.0.3359.181 (Official Build) (64-bit) (Linux)

### Test case
https://code

[2018-06-05 11:07] mukai11 opened #200 "Chrome warning [Deprecation] Using unescaped '#' characters in a data URI body is deprecated and will be removed in M67, around May 2018. Please use '%23' instead. See https://www.chromestatus.com/features/5656049583390720 for more details."
### Version info
Milligram:1.3.0
Google Chrome: Version 66.0.3359.181 (Official Build) (64-bit)
OSX:10.12.6

### Test case

### Steps to reproduce
Visit https://milligram.io/ by Chrome then open developer console.

### Expected behavior
No warnig.

### Actual behavior
The below warning is shown.

[Deprecation] Using unescaped '#' characters in a data URI body is deprecated and will be removed in M

[2018-06-08 13:58] marcusasplund commented on #198
possoble solution; just add:

[code]
to your .css

[2018-06-08 14:07] marcusasplund commented on #199
Use ```media="all"``` when linking css

[code]

See updated codepen here:
https://codepen.io/marcusasplund/pen/bKBmbo

[2018-06-20 06:16] chuckreynolds opened #203 "Suggestion: adding height: auto; to img in _image.sass"
### Version info

**Milligram:**

`"milligram": "^1.3.0",`

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**

`"node-normalize-scss": "^3.0.0",`
`"node-sass": "^4.9.0"`

### Expected behavior

Images would shrink vertically along with the width changes

### Actual behavior

Images are distorted when responsive.

### Suggested Action
Add `height: auto`

[2018-06-20 06:44] chuckreynolds opened #204 "Explicit Column Percent Sizes remain on mobile; should default to 100%"
### Version info

**Milligram:**
`"milligram": "^1.3.0",`
**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**
`"node-normalize-scss": "^3.0.0",`
`"node-sass": "^4.9.0"`

### Steps to reproduce
It's not a bug; it's just something I would expect to have function in this way.
[code]

### Expected behavior
Expected that the explicit column sizes would go bac

[2018-06-20 06:47] chuckreynolds opened #205 "Add in mobile break points as variables to use"
I see that issue #192 has already mentioned the `40rem` doesn't work on some iPhones... I typically use 42... but I'm asking if we can get a couple breakpoint variables in the core of milligram?

### Suggestion
[code]

### Version info
**Milligram:**
1.3.0

[2018-06-23 09:05] adiramardiani commented on #200
Cause chrome have new standard for now
The css file use data:image to create svg file for dropdown menu, I think select/dropdown no need image for generate arrow icon @cjpatoilo

[2018-06-23 09:07] adiramardiani commented on #137
Yes please @cjpatoilo

I think milligram must provide all html5 input type https://www.w3schools.com/Html/html_form_input_types.asp

[2018-07-27 20:01] mhedrick commented on #70
I would like to add that the fact that the github.io site has a navbar led me to believe that the package itself had a navbar.  it's pretty disingenuous.

[2018-07-27 21:39] gwleuverink commented on #70
I disagree. The pages document doesn’t state a navbar is a core component anywhere. The fact the page has a navbar does not mean it is part of the framework. It isn’t disingenuous, you simply made a wrong assumption.

[2018-08-03 18:36] mhedrick commented on #70
Yes, I thought the package had a navbar until I started reading and found out it didn't.  It honestly surprised me - my expectation in looking at ui packages is that they generally only use the tools they provide.  I looked through the site css - simply styling the `nav` tag and adding some styling for nav links doesn't seem like it would add too much overhead?

[2018-09-07 09:03] #186 closed

[2018-09-15 15:48] martinffx commented on #188
I'm having the same issue? How does one resolve this? On mobile I expect the grid to break the columns into row's

[2018-10-02 01:51] CoderSquirrel commented on #198
@marcusasplund wouldn't be good to add it on a pr?

[2018-10-02 02:01] schirrel opened #207 "Table utils"
I'm aiming to add sobre extra classes to tables, so they look more charming

### Version info

latest

**Milligram:**

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

### Expected behavior
Add hover effects, and condensed size, and primary header to the thable

### Actual behavior

[2018-10-04 11:57] schirrel opened #210 "Firefox appearance"
I've add support to `-moz-appearance`
 and `-webkit-appearance` once firefox shows in console a message about not supporting appearance
### Version info

latest

[2018-10-13 13:40] promatik commented on #210
Milligram doesn't need to support browsers specific rules, that's webpack job.

[2018-10-13 13:46] promatik commented on #186
@cjpatoilo I agree with you, milligram should be light forever.
I think the best way is to create an "extended" version of milligram, with a lot more components which you can be imported or not. The project should be the same.

[2018-10-13 13:50] promatik commented on #207
@CoderSquirrel, you should do that in your code, what are your issues?

[2018-10-13 14:07] CoderSquirrel commented on #210
sorry about that but i didn't find any related abuot it on the contributing guide

[2018-10-13 14:08] CoderSquirrel commented on #207
yeah i done that in my code, but i really like the milligram appearence and tried to add something to 'look' or 'feel' cooler
i didn't know i couldn't

[2018-10-13 22:56] promatik commented on #200
Hi everyone!
I just created a PR that solves this issue: #214, and it now uses the user `$color` variables.

[2018-11-09 15:39] mapio opened #217 "Wrong spacing if rowspan is used"
Take the example at https://developer.mozilla.org/en-US/docs/Learn/HTML/Tables/Basics, more specifically the code at https://github.com/mdn/learning-area/blob/master/html/tables/basic/animals-table-fixed.html and point it to this css instead of the provided one.

You get (with the latest Firefox on OSX) what you see in the attached image, which is not correct (`Hen` and `Mare` seem to have some wh

[2018-11-10 08:08] ndbroadbent opened #218 "Form fields are not vertically centered properly on Firefox"
I'm using Firefox Quantum 63.0.1, Chrome 70.0.3538.77, and MacOS Mojave 10.14.

I just looked at the [Milligram homepage](https://milligram.io/), and I saw that the form fields are not vertically centered. (Both Chrome and Firefox.) Here's what it looks like for me:

<img width="850" alt="screen shot 2018-11-10 at 2 56 49 pm" src="https://user-images.githubusercontent.com/139536/48298989-e502fa00-

[2018-11-10 08:56] ndbroadbent commented on #218
Fixed with a PR: #219

[2018-11-16 08:46] fadado commented on #193
I found a related bug:  the second half of the file `src/_Table.sass` has not be expanded into `dist/milligram.css`.

[2019-01-02 04:29] flytojs6 opened #221 "support ie 10 or 9 ?"
### Version info

**Milligram:**

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

### Expected behavior

### Actual behavior

[2019-01-05 15:53] risbkmr commented on #204
Just add a media query @media (min-width: 40rem) to the existing .column-* classes

[2019-01-09 00:55] chuckreynolds commented on #187
any update from your last comment on here nearly a year ago @cjpatoilo ?  any status updates?

[2019-01-09 01:03] chuckreynolds commented on #70
^^ all that said... has anybody  implemented a fairly simple navbar w/ logo and menu items that responsively breaks down to a hamburger-type menu on mobile as an example?

[2019-01-09 01:21] dmitry-vakhnenko commented on #187
Looks like it dead.

[2019-01-09 15:40] cjpatoilo commented on #187
Hi guys,

This project is active and free of bugs. I recently developed some Open Source projects using Milligram like [Chalkboard](https://chalkboard.space) and [Airform](https://airform.io).

Currently I have not had much time to actively work on Milligram to improve features. So, the priority here is to fix any bug and incompatibility with any browsers. So, new features should come with time.

[2019-01-25 15:49] lmeysel opened #222 "Select style - inline SVG uses hardcoded colors"
This is actually not a bug, but a recommendation: In _Forms.sass is the `select:focus`-selector, setting the select's background-image to native violet given in `$color-primary`. Using the interpolation-syntax, the variable could be referenced there, instead of using the hardcoded rgb-color, which helps when customizing the colors.

`data:image/svg[...]<svg[...]><path fill="#{$color-primary}" ...<

[2019-01-28 20:31] yebo29 commented on #70
I'm trying my hand on that now using the example included in milligram, using https://github.com/shuedna/Milligram-baseSite-withMenu as reference. I too am very inexperienced with this so may not succeed.

But I agree with above; a responsive nav is pretty foundational.

[2019-01-28 20:35] yebo29 commented on #187
Glad to hear!

[2019-01-28 20:45] DanielRuf commented on #187
Well but CI builds fail =/

[2019-01-28 20:52] chuckreynolds commented on #70
updated previous request... CSS only, no JS, especially no jQuery.

[2019-01-29 22:06] popey456963 commented on #70
[NavBar with no JavaScript or jQuery for Milligram](https://gist.github.com/popey456963/31c44fa431fdfec3e371e14aaa0d1be9).

[Example site with NavBar](https://femto.pw/).

Under the same license as Milligram (MIT).

[2019-01-30 19:13] yebo29 commented on #70
Good work @popey456963. The only thing is that it doesn't break down to a hamburger style menu.
I missed the requirement of no JS/jquery, or vanilla JS. Either way I haven't had much success on my end.. yet.

[2019-02-26 17:09] ccomin opened #223 "Small proposal to have tags"
Hello,
Is it possible to have a tags functionality, on this principle :
https://codepen.io/ccomin/details/YgPVWL

This is a functionality I would like to see in project
Bye

[2019-02-28 13:51] cmatiello commented on #203
Hi!
Can I pick this one up, please?

[2019-03-14 14:38] ghost opened #224 "Limit to 2 columns per row"
### Version info
1.3.0

**Milligram:**

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**

### Test case

https://jsfiddle.net/y5tncd2f/2/

### Steps to reproduce
https://jsfiddle.net/y5tncd2f/2/

### Expected behavior

There should be 2 columns in a row as the class assigned to the div is column-50

### Actual behavior

4 columns are there inside a ro

[2019-03-25 12:40] popey456963 commented on #70
I think normally you want to hide the navigation bar on scroll down, not scroll up?

[2019-03-26 02:21] yebo29 commented on #70
The code is for scroll down. Sorry, I misspoke

[2019-04-05 08:58] chuckreynolds commented on #70
Following up on css-only responsive nav... this one is simple and works great:
https://codepen.io/chuckreynolds/pen/ROaeXv

[2019-04-19 11:49] promatik commented on #224
@faizan47, your have 4 columns with `column-25` that behaviour is expected.

[2019-04-26 19:45] marsrobertson opened #225 "milligram.io/getting-started.html - should NOT be minified so that a user of a website could simply inspect what's going on the page and appreciate simplicity <EOM>"

[2019-04-30 22:53] hbast commented on #70
Thanks for the link. But how do I put that together? The content of my container scrolls 'behind' the header. There should be some kind of padding.

[2019-05-03 06:13] spapas commented on #225
Agreed! Or at least the unminified versions should be available somewhere.

Also the same should be done for the milligram web site; I had to clone the project from https://github.com/milligram/milligram.github.io and build the styles myself.

[2019-06-16 09:53] spapas opened #227 "Pagination component"
Any plans on adding a pagination component?

TIA,
Serafeim

[2019-06-17 15:26] TeraNovaLP commented on #187
@cjpatoilo Is a new release planned in the near future? I would appreciate it when the fixes were in a new Release build.

[2019-06-20 07:10] DeathArrow01 commented on #187
Another dead CSS framework. :(

[2019-06-29 11:07] ItsPugle commented on #131
I believe this issue can be closed? The `<strong>` tag now produces a much bolder text than text without:
![image](https://user-images.githubusercontent.com/22669894/60383232-b058a880-9ab1-11e9-89d7-73ac481260fe.png)
https://test.itspugle.com/milligram/strong

[2019-06-29 11:10] ItsPugle commented on #200
This can be closed as #214 fixes this :)

[2019-06-29 11:12] ItsPugle commented on #200
This issue no longer occurs when visiting the site:
![image](https://user-images.githubusercontent.com/22669894/60383313-8a7fd380-9ab2-11e9-9d70-2090dd85a9a7.png)

[2019-06-29 11:13] ItsPugle commented on #191
Is their any progress or anything done on this so far? :)

[2019-06-29 20:08] dntzbgh commented on #191
you can always change the values of the colors from the `src/_Color.sass` and then recompile again with `sass --update`. You can also add your own sass files.

[2019-06-30 00:09] mukai11 commented on #200
@ItsPugle Thank you for your report. As one year has passed there is no warning message in Chrome. So this issue is no longer meaningless. I will close.

[2019-06-30 00:09] #200 closed

[2019-06-30 03:10] ItsPugle commented on #191
Good point! I guess I'm looking for a bit more out-of-the-box solution since I don't use Sass, but I don't really know how that could be easily done other than changing the values themselves in `/dist/milligram.min.css` which would be problematic.

[2019-07-23 21:55] #224 closed

[2019-07-23 21:59] cjpatoilo commented on #227
Hi @spapas

So I have some ideas on how to implement this, just not sure if I should put it directly into the main project or extend it elsewhere.

Also, I imagine adding something to the site to improve the user experience. What do you think?

[2019-07-24 06:59] spapas commented on #227
Hello @cjpatoilo thank you very much, looking forward to it !

[2019-08-09 20:14] Seia-Soto commented on #70
Just a comment.

If there are pre-built navbar things, building UI will quite faster.
However, don't you guys think it is something useless? I prefer to providing navbar like Semantic-UI style(using the menu to provide navbar).

I think not `too much` is good. :)

[2019-09-12 13:00] stiofand opened #228 "Why use any package manager?"
In the getting started guide, it provides information on how to get Milligram from npm & bower.  However, after that it simply refers to using the cdn, with no apparent connection to the package.

1. What is the point in downloading the npm package if one only uses the cdn?
2. If the packaged version (via npm for example), can be used, how could we link it in our own css file? Most modern framewor

[2019-09-29 13:36] CoderSquirrel commented on #227
@cjpatoilo it can be add as a task for hacktoberfest, what about?

[2019-09-29 13:40] schirrel opened #229 "Builds de PR falhando"
Esse não é uma issue sobre o projeto, mas sim sobre o ci.
Parece que todos os buildes de analise de de PR estão falhando por conta do node :/

[2019-10-05 12:39] CoderSquirrel commented on #223
@ccomin i've implemented this on pull request #230

[2019-10-12 07:08] UrsBoller opened #233 "table"
### Version info

**Milligram:**

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

### Expected behavior

### Actual behavior

[2019-10-12 07:09] UrsBoller commented on #233
mistake...

[2019-10-12 07:09] #233 closed

[2019-10-14 19:50] JohnGallego commented on #190
This is the pertinent code:

https://github.com/milligram/milligram/blob/dbbb625aa81ed6119b0f61d16d0a4f4333b526d3/dist/milligram.css#L431-L441

Flex-direction is changed to column below a certain width.

[2019-10-29 06:15] RamanaVem commented on #222
Is this still open?

[2019-10-29 06:17] RamanaVem commented on #217
Is this still open? Can i take a look once?

[2019-10-29 07:51] lmeysel commented on #222
At least the code is not changed in the repository, therefore I'd say... yes.

[2019-10-29 11:11] mapio commented on #217
Apparently yes, see the codepen https://codepen.io/mapio/pen/VwwzRrR (notice how "Mare" in the "Horse" row has a space in front of it, differently from "Stallion")

[2019-10-30 04:17] RamanaVem commented on #217
hey @mapio i seen problem, where can i work this? can you make a Fork available in single html page?

[2019-10-31 06:05] mapio commented on #217
I don't get you question and I'm not the mantainer of milligram… if you want to fix the bug, fork the repo and submit a pull request when done so that the repo owners can evaluate to accept it or not.

[2019-11-17 19:40] salsadeveloper commented on #188
Can I fix this issue?

[2019-11-19 12:20] CoderSquirrel commented on #229
@cjpatoilo quando fiz a feature do pr #230 corrigi isso tambem

[2019-11-19 18:56] cjpatoilo commented on #229
@CoderSquirrel Muito obrigado!

[2019-11-29 14:55] ivanignatiev opened #238 "Add support for scopes"
I would like to apply milligram only to a scope of elements on the page to avoid conflicts with the principal application UI framework.

As there is no CSS wrapped in a class, I have to maintain my custom version of Milligram but I think this feature could be a common use case.

### Expected behavior

[code]

[2019-12-06 19:47] SampsonCrowley opened #239 "Is this package still active?"
There are lots of open pull requests, but there hasn't been any new commits since june

[2020-01-02 09:45] Lisagrant101 commented on #217
I opened a fork in this repo and submitted a pull request for my fix to this issue.
Im new to GitHub and not sure if I did this correctly.

[2020-01-02 09:50] Lisagrant101 commented on #217
oh I think I did this wrong. I just realized I edited an example file not a milligram file.

[2020-01-02 11:47] Lisagrant101 commented on #217
Ok I edited the minimal.css file from the milligram repo and I will see if they accept it or not.
I added classes so that when using rowspan and colspan the alignment of words in the subsequent columns is not thrown off.

[2020-01-02 15:23] mapio commented on #217
Nope… I'm not the repo owner, but those files look to be generated (have a look at https://github.com/milligram/milligram/blob/master/.github/contributing.md#building) starting from sass files under the `src` directory.

[2020-01-16 02:31] robsheldon commented on #239
I like milligram and hope it gets updated again soon.

I've stitched together an alternative option at https://github.com/robsheldon/sscaffold-css

The bad: it's a bit heavier than milligram (about 1.3 milligrams, heh). Fonts & colors have been changed (mostly because it would be uncool to straight copy milligram's), but can be easily overridden. There are a few other small but important differenc

[2020-01-16 15:34] SampsonCrowley commented on #239
@robsheldon well if it's rude to link to an alternative in a repo that doesn't get a response to even basic questions, I'd say it's even more rude for the maintainers here to not at least transfer ownership to someone who DOES have time to maintain it when there are obviously so many people interested in making it better

[2020-01-29 00:28] schirrel commented on #238
@cjpatoilo what u think about this? my pov its kind of interesting, i could implement that :P

[2020-02-22 14:21] michaelDpierce opened #241 "Website Example LetsFood.space is a dead link"
Version Info: N/A
Test Case: https://letsfood.space/
Steps to Reproduce: Link on the https://milligram.io/showcase.html page is dead pointing to LetsFood.space
Expected Behavior: Works
Actual Behavior: Broken

[2020-04-19 03:20] schirrel commented on #239
@robsheldon and @cjpatoilo i'de like to be a maintainer, i like the project a lot, even add sobre prs.

I'd appreciate if you guys think about it

[2020-05-11 23:57] klalchev opened #242 "Hello- I am brand new to programming and I am stuck on how to use milligram. I tried to follow the outlined steps, but nothing happens. Why is milligram not getting applied to my styling?"
### Version info

**Milligram:**

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

### Expected behavior

### Actual behavior

[2020-05-12 00:07] szul commented on #242
It’s CSS. It’s applied automatically. How are you including it in your page?

[2020-05-12 00:10] szul commented on #239
@schirrel Has @cjpatoilo gotten back to you on this? I use this in a lot of projects and would rather not fork it to maintain it separately.

[2020-05-12 00:32] klalchev commented on #242
Well, I followed the instructions and installed milligram as outlined in
getting started. Then I copy/ pasted the three <link> provided in the head
of my html file and I was expecting that milligram will somehow style my
h1, button and form elements, but I think I am missing sth here, just not
sure what. I also downloaded the zip file and copied it in the folder of my
html file, but that also did

[2020-05-12 03:39] klalchev commented on #242
Below is my code snippet- I want to apply your styling to the button
element. When I run the code on codepen it is applying the correct style,
however, when I open the html file on my computer via my chrome browser, it
does not apply the styling- it just shows me a plain default button text.
Do I need to change the href and provide a path to the files on my
computer? That should not be the case si

[2020-05-12 03:48] klalchev commented on #242
LOL! I figured it out!

when I load the html file locally into my browser, it is using the
file: protocol.
And since the milligram <link> has href="// without the http the browser is
attempting to load that one using the file: protocol.

Once I used the full URL (by adding http) everything worked as expected
applying your design!

Are there any videos that teach how to use milligram to its full po

[2020-05-12 10:33] szul commented on #242
Were you using the CDN links or a downloaded copy for that? What browser are you using? The lack of a prefixed `http` or `https` means that the browser will load the URL using whichever protocol is used for the page itself.

There are no videos that I'm aware of, but the web site gives an easy over of what get altered when you use the styles.

[2020-05-12 15:52] klalchev commented on #242
I used the CDN links. I also downloaded the folder- why do I need the
folder if I can use the links to render the information? Just curious.
Also- I installed milligram on my computer using the below function, but I
am not sure what it does.
$ npm install milligram
I also followed your other instructions: $ npm install -g milligram-cli,
$ milligram init new_app
$ cd new_app $ npm start

and it see

[2020-05-12 16:13] marcogargano commented on #242
@klalchev
Check this: https://codepen.io/marcogargano/pen/pojKMdo

[2020-05-14 04:58] cjpatoilo commented on #239
I'm back!

@SampsonCrowley yes, Milligram is still active!
@robsheldon congrats, great project!
@schirrel you can help by answering questions about how to use or test and fix problems related to errors.
@szul I always appreciate you here. So, I just need to resolve some tests in the new table style before launching the new version `v1.14.0`.

Also, let me know if there are any issues that should b

[2020-05-14 05:06] cjpatoilo commented on #241
@michaelDpierce 👍

[2020-05-14 05:06] #241 closed

[2020-05-17 21:48] cjpatoilo commented on #198
@marcusasplund @schirrel Good call 🚀

[2020-05-17 21:48] #198 closed

[2020-05-18 19:23] cjpatoilo commented on #193
@valentineus you tried to use the code inside of the `dist` path?

[2020-05-18 19:23] #193 closed

[2020-05-19 07:33] galiprandi commented on #242
Could you solve your problem?

[2020-05-19 07:42] galiprandi commented on #239
Great proyect!
Greetings from Argentina.

[2020-05-19 15:03] klalchev commented on #242
Yes. all good now

On Tue, May 19, 2020, 2:33 AM galiprandi <notifications@github.com> wrote:

[2020-05-19 16:19] cjpatoilo commented on #242
@szul @marcogargano @galiprandi
I'm very happy. Thank you for helping @klalchev

@klalchev If you need something feel free to open a new issue.
Now, I will close this issue.

[2020-05-19 16:19] #242 closed

[2020-05-19 16:22] cjpatoilo commented on #229
@schirrel CI working very well:
https://github.com/milligram/milligram/blob/release/v1.4.0

Thank you. Now, I will close this issue.

[2020-05-19 16:22] #229 closed

[2020-05-19 16:26] cjpatoilo commented on #239
@galiprandi thank you 🙏

[2020-05-19 16:26] cjpatoilo commented on #239
For now, I will close this issue.

[2020-05-19 16:26] #239 closed

[2020-05-19 16:30] cjpatoilo commented on #225
@marcusasplund You can see the source code of the website here  https://github.com/milligram/milligram.github.io

Now, I will close this issue

[2020-05-19 16:30] #225 closed

[2020-05-19 16:36] cjpatoilo commented on #187
Here is the PR for the new Milligram v1.4.0
https://github.com/milligram/milligram/pull/244

Thank you guys
For now, I will close this issue.

[2020-05-19 16:36] #187 closed

[2020-05-19 16:45] cjpatoilo commented on #168
@freddi301
So I would like to extend Milligram to be more than 'a fast and clean starting point, with 2kb size'.

I have huge plans for the future. Thank you for the idea.
For now, I will close this issue.

[2020-05-19 16:45] #168 closed

[2020-05-19 16:47] cjpatoilo commented on #172
@JulienJo Great question!
I would like to know the reason to use another CSS Reset instead of normalize.css

[2020-05-19 16:50] cjpatoilo commented on #177
@fooksupachai for now, I will close this issue.
If you need help feel free to reopen or open a new issue.

[2020-05-19 16:50] #177 closed

[2020-05-19 16:57] cjpatoilo commented on #70
Guys, thank you for helping @. For now, I will close this issue.
If someone needs help feel free to reopen or open a new!

[2020-05-19 16:57] #70 closed

[2020-05-19 17:00] cjpatoilo commented on #222
@lmeysel Milligram v1.4.0 fix that.
https://github.com/milligram/milligram/pull/244

For now, I will close this issue.
Please, if you need help feel free to reopen or open a new!

[2020-05-19 17:00] #222 closed

[2020-05-19 17:20] cjpatoilo commented on #167
@chuckreynolds Now Milligram v1.4.0 uses Normalize.css v8.0.1
Thank you for this question.

For now, I will close this issue.
Please, if you need help feel free to reopen or open a new!

[2020-05-19 17:20] #167 closed

[2020-05-19 17:23] cjpatoilo commented on #189
@prampec Thank you for the tips.

There is a super simple boilerplate project with Milligram.
https://github.com/milligram/milligram-starter

[2020-05-19 17:23] cjpatoilo commented on #189
For now, I will close this issue.
Please, if you need help feel free to reopen or open a new!

[2020-05-19 17:23] #189 closed

[2020-05-19 17:26] cjpatoilo commented on #227
@schirrel So I would like to extend Milligram to be more than 'a fast and clean starting point, with 2kb size'.

I have huge plans for the future. Anyway, thank you for the idea.
For now, I will close this issue.

[2020-05-19 17:26] #227 closed

[2020-05-19 17:28] #131 closed

[2020-05-19 17:30] cjpatoilo commented on #223
@schirrel your job is very impressive! Thank you!

For now, I will close this issue.
Please, if you need help feel free to reopen or open a new!

[2020-05-19 17:30] #223 closed

[2020-05-19 17:31] cjpatoilo commented on #221
@chuckreynolds you're right! Great solution.

@flytojs6 For now, I will close this issue.
Please, if you need help feel free to reopen or open a new!

[2020-05-19 17:31] #221 closed

[2020-05-19 17:38] cjpatoilo commented on #207
@schirrel @promatik [Milligram v1.4.0](https://github.com/milligram/milligram/pull/244) provides responsive table element. Besides, there is a plan to add another behavior in the table element for the next Milligram version.

[2020-05-19 17:39] cjpatoilo commented on #207
@schirrel thank you for the idea.
For now, I will close this issue.

[2020-05-19 17:39] #207 closed

[2020-05-19 17:43] cjpatoilo commented on #238
@ivanignatiev @schirrel awesome but I don't any idea how I implement that. I have any questions. Do you have any references in other frameworks like Milligram? Would that make Milligram even slower/heavier (size)?

[2020-05-19 17:48] cjpatoilo commented on #205
@chuckreynolds great question.

Milligram is Mobile First for default. Today I don't have plans to implement more than one mobile support. Maybe update the breakpoint `40.0rem` to `42.0rem`.

[2020-05-19 17:50] cjpatoilo commented on #210
@promatik thank you for helping @schirrel

For now, I will close this issue.
Please, if you need help feel free to reopen or open a new!

[2020-05-19 17:50] #210 closed

[2020-05-19 19:44] JulienJo commented on #172
@cjpatoilo as I said, if you to optimize speed, use least css (the purpose of milligram). So don't use something "big" like normalize.css. minireset.css is smaller. Or add some reset css in milligram (it already have some).

[2020-05-19 23:54] cjpatoilo commented on #217
@mapio thanks for helping @Lisagrant101

@mapio [here](https://codepen.io/mapio/pen/VwwzRrR) you forgot adding the normalize.css support.

Besides, it seems there is something wrong with your example if you copied from MDN. Note, in your example don't have `<thead>` and `<tbody>` elements.

[2020-05-19 23:56] cjpatoilo commented on #217
@mapio thanks for helping @Lisagrant101

@mapio [here](https://codepen.io/mapio/pen/VwwzRrR) you forgot adding the normalize.css support.
Please, let me know if you still need help.

[2020-05-19 23:57] cjpatoilo commented on #199
@marcusasplund thank you for helping @robsdudeson

@robsdudeson For now, I will close this issue.
Please, if you need help feel free to reopen or open a new!

[2020-05-19 23:57] #199 closed

[2020-05-20 00:12] cjpatoilo commented on #172
@JulienJo I understood you and you are right!  I have plans to remove normalize.css in the next version. For now, Milligram v1.4.0 will keep normalize.css@8.0.1

[2020-05-20 00:12] cjpatoilo commented on #172
I will close this issue.
Please, if you need help feel free to reopen or open a new!

[2020-05-20 00:12] #172 closed

[2020-05-20 00:14] cjpatoilo commented on #151
@plugza for now, I will close this issue.
Please, if you need help feel free to reopen or open a new!

[2020-05-20 00:14] #151 closed

[2020-05-20 00:41] schirrel opened #245 "Nav"
An ideia that i love on the Milligram page is that navbar and that submenus.
I think that a charm and i've to addmint i've add that at a personal project that use millagram, would be good to have it at the core? Or theres a plan on do that?

By the way, @cjpatoilo  would you think it be good to use 'github' project to add the steps you dream and plan about the project?

[2020-05-20 00:45] ivanignatiev commented on #238
I think the first step is to create alternative https://github.com/milligram/milligram/blob/master/src/milligram.sass file with nesting imports.

Something like ``milligram-nested.sass` /  `milligram-isolated.sass`:
[code]

After, you need to add a build option to build Milligram in nesting mode and test it.

I think you can look on https://github.com/cryptoapi/Isolate-Bootstrap-4.1-CSS-Themes

[2020-05-20 01:02] cjpatoilo commented on #160
@marcusasplund it's very impressive! Okay for you if I add this feature in the next version?

[2020-05-20 03:08] cjpatoilo commented on #156
@merlinpatt @edwardbattistini

In CSS, margin properties can utilize negative values (padding cannot). The syntax is nearly the same as the default, positive margin utilities, but with the addition of n before the requested size. These utilities are ideal for customizing grid column gutters across breakpoints.

Rows have a negative left/right margin of -1.0rem. The Container padding of 2.0rem is u

[2020-05-20 03:12] cjpatoilo commented on #156
I hope it was helpful. For now, I will close this issue.
Please, if you have any question feel free to reopen or open a new.

[2020-05-20 03:12] #156 closed

[2020-05-20 03:23] cjpatoilo commented on #124
@bitbreakr Congrats, impressive job! 👏
So, it's there seems to be a lot of selectors and properties leaving the framework above 2kb.

[2020-05-20 03:42] cjpatoilo commented on #149
@corsonr @franzejr Can you explain more for your ideas?

I plan to improve the grid system of the Milligram in the next major version.

[2020-05-20 04:10] cjpatoilo commented on #154
@PurpleBabar It's very impressive. Thank you!

[2020-05-20 04:14] cjpatoilo commented on #148
I agree with @szul. Breadcrumbs are awesome!
@kushvarma thank you for your idea.

In the future, I would like to extend Milligram to be more than 'a fast and clean starting point, with 2kb size'.

For now, I will close this issue.

[2020-05-20 04:14] #148 closed

[2020-05-20 04:16] cjpatoilo commented on #152
@merlinpatt I understand you.
Maybe if there is something information like the last version number for each browser?

[2020-05-20 04:26] cjpatoilo commented on #190
@juanbrujo
Some trick worked for you or is there still a problem?

[2020-05-20 04:38] cjpatoilo commented on #145
@FourierTransformer @tommyip @jgillich

In other CSS frameworks like [Bootstrap](https://getbootstrap.com/docs/4.5/components/buttons/), [Foundation](https://get.foundation/sites/docs/button.html) defines the style for this button behavior.
For this reason, I believe that we shouldn't remove this behavior. Maybe change this behavior.

Can you say to me any idea better?
For example, in Bootstrap ch

[2020-05-20 04:45] cjpatoilo commented on #145
@FourierTransformer @tommyip @jgillich

it's not a bug. It's is the normal button behavior. In other CSS frameworks like [Bootstrap](https://getbootstrap.com/docs/4.5/components/buttons/), [Foundation](https://get.foundation/sites/docs/button.html), it is also defined. For this reason, I believe that we shouldn't remove this behavior.

Maybe change this behavior. For example, in Bootstrap changed

[2020-05-20 04:46] cjpatoilo commented on #145
@FourierTransformer @tommyip @jgillich

it's not a bug. It's is the normal button behavior. In other CSS frameworks like [Bootstrap](https://getbootstrap.com/docs/4.5/components/buttons/), [Foundation](https://get.foundation/sites/docs/button.html), it is also defined. For this reason, I believe that we shouldn't remove this behavior.

Maybe change this behavior. For example, in Bootstrap changed

[2020-05-20 04:53] tommyip commented on #145
I guess the reason why this issue stands out from the other frameworks is that our buttons turn grey on hover/focus, whereas the others turn into a darker shade of the button (which seems to be a common web UX nowadays). Perhaps we should change the color on hover/focus to a different shade of purple (could be different between hover and focus)?

Thanks for looking into this by the way @cjpatoilo.

[2020-05-20 04:56] cjpatoilo commented on #228
@stevematdavies you're right! It's a huge problem and its problem went unnoticed.

I will update the website and all documentation about the Getting Started and I will update you here.

[2020-05-20 05:08] cjpatoilo commented on #158
@negativefix congrats to the huge job!
Thank you so much.

@nateberkopec you're right. It's time for a change normalize.css. I had worked on a new one, but I spent a lot of time away from Milligram. So I need to redo the necessary studies/tests to ensure that everything is okay.

btw, I bring news: Milligram v1.4.0 https://github.com/milligram/milligram/pull/244

Please, tell me if I can help you

[2020-05-20 05:08] #158 closed

[2020-05-20 05:21] cjpatoilo commented on #136
@benjamin79 Apparently, yes. The expected behavior should be this one:

![milligram-mobile](https://user-images.githubusercontent.com/1542831/82407678-2d7d6b00-9a40-11ea-8d9c-ef799ecd44bd.gif)

@dnohr @rafaelkallis Please, if necessary feel free to reopen or open a new!
For now, I will close this issue.

[2020-05-20 05:21] #136 closed

[2020-05-20 05:27] cjpatoilo commented on #137
@rafaelgondim @Arrow7000 @adiramardiani This feature was added in the new version.

For now, I will close this issue. Please, feel free to reopen or open a new one.

[2020-05-20 05:27] #137 closed

[2020-05-20 05:31] cjpatoilo commented on #188
@celebritydeveloper this behavior was fixed. Look the demo:

![milligram-mobile](https://user-images.githubusercontent.com/1542831/82408403-e1332a80-9a41-11ea-8b4c-9e4572eddc21.gif)

[2020-05-20 05:32] cjpatoilo commented on #188
@dnohr @martinffx For now, I will close this issue.
Please, feel free to reopen or open a new one.

[2020-05-20 05:32] #188 closed

[2020-05-20 05:40] cjpatoilo commented on #165
@SidKwok I believe that this issue was resolved. Can you test for me?

[2020-05-20 05:42] cjpatoilo commented on #161
@ellipticaldoor this issue was fixed. For now, I will close this issue.
Please, feel free to reopen or open a new one.

[2020-05-20 05:42] #161 closed

[2020-05-20 05:44] #154 closed

[2020-05-20 05:47] cjpatoilo commented on #150
@whodidthis make sense to me. I have plans to implement this feature in the next version.

Thank you for your idea. For now, I will close this issue.
Please, feel free to reopen or open a new one.

[2020-05-20 05:47] #150 closed

[2020-05-20 10:11] mapio commented on #217
I've added it now, it seems not to change the status of the issue.

[2020-05-20 16:13] cjpatoilo commented on #217
@mapio I can is wrong, but as I understand it:

The problem is not when you use any attribute in this element but when you use the example structure:

[code]

Note, this behavior is generated by:

[code]

And even if you remove the attributes, there will still be "left white-space" in the same elements. Look: https://codepen.io/cjpatoilo/pen/yLYGQNy

[2020-05-20 16:15] cjpatoilo commented on #217
@RamanaVem You can find the Table module here [`./src/_Table.sass`](https://github.com/milligram/milligram/blob/master/src/_Table.sass)

[2020-05-20 16:20] cjpatoilo commented on #217
@mapio I can is wrong, but as I understand it:

The problem is not when you use any attribute but when you use the example structure:

[code]

Note, this behavior is generated by:

[code]

And even if you remove the attributes, there will still be "left white-space" in the same elements. Look: https://codepen.io/cjpatoilo/pen/yLYGQNy

So, we need to find some solution to soften this behavior when

[2020-05-20 16:24] mapio commented on #217
I'm not sure to get your point.

My bug report is based on https://github.com/mdn/learning-area/blob/master/html/tables/basic/animals-table-fixed.html that (coming from MDN) I assume to be authoritative (even if it does not include `thead` and `tbody` elements, that are indeed optional as per HTML standard).

Unfortunately I'm no CSS expert and I can't fix the bug, or understand the reason why you

[2020-05-20 16:39] cjpatoilo commented on #217
@mapio to fix the behavior in this specific example:

[code]

[2020-05-20 16:40] cjpatoilo commented on #217
@mapio try to use:

[code]

This code fixes the "white-space" in this specific example.

[2020-05-20 16:45] mapio commented on #217
If what you suggest is a fix, please implement it in the library and release a new version.

[2020-05-20 17:05] cjpatoilo commented on #217
@mapio the code above is not the final solution for a possible fix. There are other ways to get the same result. Look: https://codepen.io/cjpatoilo/pen/bGVOQzd

So, to make changes in Milligram I need to understand better all scenes to ensure that expected behavior. I've been work on a new version v1.4.0. Let me see what I can do for this.

Thank you for your contribution and for reporting this ex

[2020-05-21 02:23] SidKwok commented on #165
Resolved

[2020-05-21 02:23] #165 closed

[2020-05-29 09:38] squidoan opened #247 "Colum-33 not going to next row automatically."
Hello,
Greetings.

I am trying milligram - great work.

I've 8 columns in a row with "column column-33".
But it is showing only 3 of it on the container. others have just vanished. but on inspect- it's ok - the content is there.

It should automatically go to new row after 3 columns.

How can I do that?

[2020-05-29 10:08] squidoan commented on #247
Maybe it will solve :
.row {
	flex-flow: row wrap;
}

Any idea or help?
thanks

[2020-05-29 13:13] okeken commented on #247
Can you share a snippet of your mark-up?

[2020-05-29 18:24] cjpatoilo commented on #247
@okeken thank you for your attention.

@squidoan please, let me see your code. You can add your code here or on codepen.io.

[2020-06-02 04:29] #183 closed

[2020-06-03 14:13] juanbrujo commented on #190
@cjpatoilo I made it (added it) fully responsive and being used a lot without problems.

[2020-06-04 02:43] cjpatoilo commented on #190
@juanbrujo great! Now I will close this issue.
If you need any help feel free to reopen this issue or open a new one

[2020-06-04 02:43] #190 closed

[2020-06-04 02:46] cjpatoilo commented on #247
@squidoan Now I will close this issue.
Please, feel free to reopen this issue or open a new one if you need any help

[2020-06-04 02:46] #247 closed

[2020-06-05 16:02] marcusasplund commented on #160
Yes, of course!

[2020-06-05 16:26] cjpatoilo commented on #160
@faststare Inspire by @marcusasplund, I add this feature #249
Now I will close this issue.

[2020-06-05 16:26] #160 closed

[2020-06-06 16:00] swalberg opened #250 "CDN link broken"
### Version info

**Milligram:** Latest (From CDN)

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**

### Test case

Using the link from the "Getting started" page: cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css, it's a 404.

### Steps to reproduce

1. Install Milligram via CDN links in the getting started guide
2. Observe that Milli

[2020-06-08 01:14] dohliam commented on #250
It looks like the `dist` folder was removed in [this commit](https://github.com/milligram/milligram/commit/af339b2c054bf92b0a5300e671e5d18151229ea5) on June 1.

@cjpatoilo is there any chance you might consider restoring the `dist` folder with the (minified and unminified) CSS source at some point in the future? (For what it's worth, this also broke our ability to update milligram automatically at

[2020-06-08 02:21] cjpatoilo commented on #250
@swalberg @dohliam

Please, can you review this pull request https://github.com/milligram/milligram/pull/251

[2020-06-08 05:48] dohliam commented on #250
@cjpatoilo Thanks so much for the quick fix! It's great to have the compiled CSS available again. :+1:

[2020-06-08 12:47] swalberg commented on #250
Thank you! Looking forward to seeing this merged!

[2020-06-08 19:16] cjpatoilo commented on #250
@swalberg @dohliam it's my pleasure to rollback the Rawgit support. So, I just didn't know that there was this problem. I love Rawgit and @rgrove made the huge work.

[2020-06-08 19:19] cjpatoilo commented on #250
@swalberg @dohliam all done! Now I will close this issue and if you have any questions, please, feel free to reopen this issue or open a new one.

[2020-06-08 19:19] #250 closed

[2020-06-10 17:04] westtrade opened #252 "Remove the engines property from package.json"
Does the node version really matter?

[2020-06-12 01:39] davidroeca commented on #252
Just stumbled upon this issue myself. Currently on node 14, the bleeding edge, and using [svelte](https://github.com/sveltejs/svelte), which is also on the bleeding edge. As a user, it's a bit odd to have a css-only framework tell me which engine of node I'm supposed to be on. I assume this engine flag is more useful for the developers of `milligram` itself?

An easy work-around for this issue in

[2020-06-12 02:15] cjpatoilo commented on #252
@davidroeca Yes. The Node.js version is defined because it is required for the development environment of the Milligram. Besides, it is a highly recommended practice to keep all dependencies current. In this case, Milligram uses the LTS version (v12) of the Node.js.

So, let me better understand what's going on and maybe we can help improve it.

[2020-06-12 02:50] davidroeca commented on #252
@cjpatoilo I agree that it's best to keep packages current. I'm actually more current than v12. My issue is slightly different than @westtrade's issue because mine can be solved by switching the engine caret requirement to `>=` to allow for future node versions as well:

[code]

A similar discussion has taken place [in the bootstrap repo](https://github.com/twbs/bootstrap/issues/29821). They opted

[2020-06-12 12:42] cjpatoilo commented on #252
@westtrade @davidroeca for now, I will remove `engine` from package.json

[2020-06-12 19:38] cjpatoilo commented on #252
@davidroeca @westtrade please, can you tell me what happens when you install Milligram?

I know that we have 2 great examples, and as I understand, the first example uses a version before LTS and the second example uses a version after LTS, and both examples are affected.

First, I would like to know if the same behavior happens when using Yarn and Npm.

Besides, the same behavior happens when you

[2020-06-12 20:19] davidroeca commented on #252
With npm, I get the following warnings:
[code]

With yarn, it's an error:
[code]

Going down to `12.8.0`
[code]
❯ yarn --version
1.22.4
❯ yarn add milligram
yarn add v1.22.4
info No lockfile found.
[1/4] Resolving packages...
[2/4] Fetching packages...
[3/4] Linking dependencies...
[4/4] Building fresh packages...
success Saved lockfile.
success Saved 2 new dependencies.
info Direct dependencies
└

[2020-06-12 20:22] davidroeca commented on #252
With `milligram@~1.3.0`, I can use the latest version of nodejs with no problems:
[code]

[2020-06-14 18:02] westtrade commented on #252
In my case, it simply does not install, and NPM throws an error that I wrote in the header. Your framework is wonderful - but it’s strange that the style framework requires a server interpreter version. Wouldn't browser styles work without a server interpreter?

[2020-06-14 18:17] cjpatoilo commented on #252
@davidroeca @westtrade thank you for explaining to me.
I will keep tracking this issue and maybe I find a better approach.

For now, I will close this issue and merge PR #253.
Please, feel free to reopen this issue or open a new one.

[2020-06-14 18:17] #252 closed

[2020-06-27 12:55] daaniiieel commented on #245
I came here just to second this.

[2020-06-27 14:53] overcatbe commented on #139
I do not really know how i came to this thread (google), but there is no better place to say THANK YOU, joelwallis, as your work is still great, working and useful! I really like to write the other stuff by myself, using no bloated frameworks, and your work is the perfect basic boilerplate.

[2020-07-04 05:22] mmmaaatttttt opened #256 "Inputs with type of "time" not getting styled"
### Version info

**Milligram:** 1.4.1

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**

### Test case

https://codepen.io/mmmaaatttttt/pen/dyGdbRe

### Steps to reproduce

- Create an input with a type of `time`

### Expected behavior

- Expect the styling to match the styling for inputs of other types.

### Actual behavior

- Time inputs are not ge

[2020-07-07 08:15] major-mayer commented on #245
This would be a really great addition to the Miligram Framework <3

[2020-07-17 01:44] schirrel opened #258 "Inputs composition"
This is not a issue of problem, in fact is like a discussion.

Based on the [w3c](https://html.spec.whatwg.org/multipage/input.html) we have **23 types of input.**
The types that can not be stylized as the default input types (box of text or digits) are 9:
- button
- checkbox
- color
- hidden
- image
- radio
- range
- reset
- submit

The common styled are the 14 others.

If instead of having input

[2020-08-15 11:51] Asahidake opened #260 "navi"
### Version info

**Milligram:**

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

### Expected behavior

### Actual behavior

[2020-08-15 11:52] #260 closed, assigned to nobody

[2020-08-26 14:25] cilim commented on #191
Love this framework! Can't wait for this feature to be released 🚀

[2020-08-26 23:50] cjpatoilo commented on #191
Hey @mterron @dkundel @timrossback @dntzbgh @cilim

Maybe something like this?
https://github.com/milligram/milligram/pull/262/files#diff-7b0a61514569d183adbda861549f9d98

[2020-09-05 21:52] jasny commented on #149
Why not remove the grid component completely? You can easily do columns and grids through CSS grids. No point using flexbox and/or abusing classes like `column-50.column-offset-25`.

[2020-09-07 16:50] cjpatoilo commented on #149
@jasny I agree that there is some reason in your words.
Today, use CSS Grid and Flexbox is very ease but I disagree about removing the grid component.

The grid component in Milligram does not cost many kb and the main motivation to keep this feature is to provide a minimal setup of styles for a fast and clean starting point.

So I can't see a legitimate reason to remove the grid component from Mi

[2020-09-07 16:51] cjpatoilo commented on #149
@jasny I agree that there is some reason in your words.
Today, use CSS Grid and Flexbox is very ease but I disagree about removing the grid component.

The grid component in Milligram does not cost many kb and the main motivation to keep this feature is to provide a minimal setup of styles for a fast and clean starting point.

So I can't see a legitimate reason to remove the grid component from Mi

[2020-09-07 16:57] cjpatoilo commented on #149
Guys, for now, I will close this issue.
Please, feel free to reopen or open a new one.

[2020-09-07 16:57] #149 closed

[2020-09-07 17:07] cjpatoilo commented on #258
Hi @schirrel
I agree! It makes sense to me.

I confess that I tried to implement this but without success.
So, let me know if you done it.

[2020-09-07 17:11] cjpatoilo commented on #256
Hi @mmmaaatttttt
I'm not sure if Milligram should support this input field.
Today, Milligram supports [these fields](https://github.com/milligram/milligram/blob/master/src/_Form.sass#L5) and I already think a lot for what should be basic support.

[2020-09-07 17:16] cjpatoilo commented on #256
Hi @mmmaaatttttt
I'm not sure if Milligram should support this input field.
Today, Milligram supports [these fields](https://github.com/milligram/milligram/blob/master/src/_Form.sass#L5) and I already think a lot for what should be basic support.

BTW @schirrel started [this discussion](https://github.com/milligram/milligram/issues/258) about improve this component and extend the support for all f

[2020-09-08 11:39] schirrel commented on #258
hey @cjpatoilo i will do this week :D

[2020-09-16 06:33] graymatter00 opened #264 "@necolas/normalize.css vs @csstools/normalize.css"
This is not an Issue - more of a request for advice.

I'm planning to use Milligram in a new project.  Milligram uses @necolas/normalize.css: https://github.com/necolas/normalize.css.  That project seems to be to all but dead.  See necolas/normalize.css#805.  The last update was November 2018, and many PRs seems to have been ignored.

I'm considering using @csstools/normalize.css instead: https://

[2020-09-21 13:14] schirrel commented on #258
hi @cjpatoilo i came here to apologize, i've been in trouble in personal life, health, moving, and other stuff.
I know how to do this, i'm just cant do this right now. I hope things gets better next days/weeks. And as soon as possible i will work on it.
Thanks

[2020-10-07 13:32] anaraujo commented on #145
Hi! Can I pick this one up? I can change the hover/focus color of the buttons to be a darker shade of the $color-primary :)

[2020-10-10 18:00] khamer commented on #258
Hey @cjpatoilo and @schirrel - here's the PR I think schirrel would have had in mind. I'm not sure if this actually easier to read or faster, although this would default to having styling for new input types, which might be better.

Feel free to consider it and it won't bother me either way. Happy Hacktoberfest.

[2020-10-16 06:47] loysaranne commented on #170
This feels like an expected behaviour of browsers and scrollbars appearing. The mentioned jiggling effect happens when the window doesn't have scrollbar while the content is hidden and when its revealed it overflows the viewport and spawns the scrollbar on the right side.

Not much can be done for this bug as viewport shrunks from the right side when the scrollbar appears. You could technically se

[2020-10-18 19:45] tusharck commented on #218
Hi i fixed with PR https://github.com/milligram/milligram/pull/274 on october 12

[2020-10-20 12:56] jcardoz commented on #203
@cjpatoilo - taking a look at this one - if its still active

[2020-10-20 13:52] jcardoz commented on #203
@cjpatoilo -  Raised a PR for this https://github.com/milligram/milligram/pull/280 .Do take a look if you get the time.
If I need to add any additional items - happy to do so. 👍

[2020-10-21 04:46] srishtij2000 commented on #218
Can you please assign this to me?

[2020-10-21 04:47] srishtij2000 commented on #217
Can I work on this issue?

[2020-10-21 04:47] srishtij2000 commented on #205
Can I work on this issue?

[2020-10-21 06:58] mapio commented on #217
I'm not the maintainer, but I can't see why you shouldn't!

[2020-10-21 07:03] srishtij2000 commented on #217
Okay

[2020-10-24 16:52] tusharck commented on #217
hi @mapio , i made a PR for this issue, please review.

[2020-10-24 17:03] mapio commented on #217
Dear @tusharck I'm not the maintainer of this project… for what it is worth, it seems that #274 fixes this bug, but I'm unable to accept PR for the project.

[2020-10-24 17:33] tusharck commented on #217
Hi @cjpatoilo , as @mapio said, the PR #274 made fixes the issue, can you please review it.

[2020-11-01 11:02] stupkad opened #281 "Howto define responsive grid columns width?"
Hi there,

I love the idea of minimalistic things, I am actually looking for a css framework which is super lightweight and allows styling without overriding everything.

How do I specify different column widths for different screen sizes? I expected to find something like "column-md-60", as seen here: https://codepen.io/csuttie/pen/BWQMwM.

I have also tried column-60 and column-40 and expected t

[2020-11-10 13:26] Warda44300 opened #282 "navbar"
### Version info

**Milligram:**

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

### Expected behavior

### Actual behavior

[2020-11-19 09:28] ankitzm commented on #282
What is the problem with navbar, can I work on it.

[2020-11-19 19:23] #282 closed, assigned to nobody

[2020-11-22 17:25] spierepf opened #283 "Rendering a simple form on a phone makes the elements tiny and difficult to use."
### Version info

I'm using version 1.4.1 of Milligram and 8.0.1 of normalize.css

### Test case

[code]

### Expected behavior

I would like this form to look like your example at https://milligram.io/#forms, especially when rendered on a phone

### Actual behavior

All the form elements are very small, and the nav bar doesn't look anything like the one on your page.

I assume I'm missing somethi

[2020-12-05 19:08] Meleeman01 commented on #283
![image](https://user-images.githubusercontent.com/13123926/101261169-cc2a9a00-36fa-11eb-80a5-0331fa861128.png)
add this
[code]

and that should fix your problem with the form elements being too small

[2020-12-05 19:52] spierepf commented on #283
That worked great! Thanks so much!

[2020-12-05 19:52] #283 closed, assigned to nobody

[2020-12-31 11:07] chrisdietr commented on #245
Hello,
I second the request here.
https://milligram.io/ has a navigation. Can we add that the code to milligram documentation and https://github.com/milligram/milligram/blob/master/test/index.html

![2020-12-31 at 13 06](https://user-images.githubusercontent.com/2683346/103407920-073cb380-4b69-11eb-9076-74a0e44d0f40.png)

Will this be added to the framework?

[2021-01-06 20:39] medevod commented on #281
hi stupkad,
You can find ways by using specialized css libs such as [flex-box-grid](https://github.com/godban/flex-box-grid)
It can be used together.
You can find my implementation there : [milligram + flexboxgrid](https://evodim.github.io/mgplus/)

[2021-01-18 07:33] timotheeg opened #286 "Would you consider a :visited style?"
### Description

milligram is great and I wondering if you'd be open to add a `:visited` pseudo class to links? `src/_Link.sass` could become:

[code]

(Or use another of the available colors, maybe `color-quaternary`?

### Version info

1.3.0

### Expected behavior

Link-heavy sites should let me quickly see which links I have already visited.

### Actual behavior

Links do not reflect their visi

[2021-02-08 11:48] MentalGear commented on #228
Still no notes on how to add using yarn / npm. Please update.

[2021-02-11 11:06] MentalGear commented on #183
This should be in the doc on grids, along with column-33. Guide is really lacking.

[2021-04-04 12:14] ghost commented on #264
Hi I tried it. But that doesn't make things easier they almost the same cause almost all issues reported in  necolas/normalize.css are not fixed. And the csstools/normalize.css is also the same thing from the same team. They do occasional commits like in 3-4 months. And the build is failing since December. I solved the issue and created a new css reset that is updated with time. It is new and ❤ co

[2021-04-04 12:39] graymatter00 commented on #264
@krishdevdb  Thanks for your reply.  And I understand your comments about the two normalize.css variants.  I'll give your reseter.css a good look.

[2021-04-04 13:54] ghost commented on #264
Thanks for being interested in my project. **Don't Forget To See The Versus Section. You Will Get To Know What All Is Included**

[2021-10-01 12:24] kunals131 commented on #286
I want to work on this, please let me know if i can go ahead?

[2021-10-02 06:44] vaishnav-sh opened #290 "Scroll to top arrow button"
Adding a scroll to top button on the documentation page.

[2021-10-02 06:45] vaishnav-sh commented on #290
Please assign me this issue. I would like to contribute as a part of hacktoberfest

[2021-10-02 18:49] Kkotiswar commented on #191
is this issue resolved or given to anybody ? I want to contribute to this...

[2021-10-03 17:15] jeeljain19 commented on #245
I would like to work on this

[2021-10-03 19:02] abhinandant34 commented on #290
I can do this task

[2021-10-04 04:43] gokul5102 commented on #290
Please assign this issue to me

[2021-10-04 14:16] tablecell opened #294 "textarea rows can's set attrubtes rows"
### Version info

**Milligram:**
1.4.1
**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**
firefxo 68
win7-x64
### Test case

[code]

[2021-10-05 04:58] shubhrastogi07 commented on #294
I would like to work on this issue
please assign it to me

[2021-10-05 05:02] shubhrastogi07 commented on #170
can I work on this issue?

[2021-10-06 12:18] Cherrytone commented on #176
I can work on this if you still need it done.

[2021-10-06 16:58] Sudipta2002 commented on #290
Assign this to me I can do this

[2021-10-07 07:15] jeeljain19 commented on #294
I would like to work on this issue
please assign it to me @tablecell
Thank you in advance!

[2021-10-07 08:23] tablecell commented on #294
Assignees
No one assigned    Assignees is not clickable

[2021-10-07 16:04] Sanjana-027 opened #296 "[ENHANCEMENT] Button"
Hello there,
Your website is good ,if you add small change ,it will look so nice.
If you add  space between the **Email button & subscribe button **, it will more clear and nice.

I'll like to fix it.

Thanks!

[2021-10-08 11:55] abhiraj-kale commented on #294
add this css for the textarea
textarea { height: auto; }

[2021-10-08 12:46] #294 closed, assigned to nobody

[2021-10-17 16:28] tablecell opened #297 "textarea can't set cols at horizontal form"
### Version info
v1.4.1

**Milligram:**
firefox v68
**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**

### Test case

[code]
### Steps to reproduce

### Expected behavior
cols=25

### Actual behavior
can't set cols

[2021-10-20 09:41] rat9112 opened #300 "Why responsive table not working?"
Very sorry if this is a stupid question, but in 1.4 responsive table support is supposed to be added?
But it doesn't seems te be working for me?

I was expecting it to work like https://codepen.io/maicol-dg/pen/zPRjxJ
but it's the same as in 1.3
Am I doing something wrong here?

[2021-10-20 10:33] #300 closed, assigned to nobody

[2021-10-20 10:33] rat9112 commented on #300
my mistake. sry

[2021-10-20 10:37] rat9112 opened #301 "Why table display:block by default?"
Why use table {display:table} at @media (min-width: 40rem)  , but display:block at smaller screens?
Don't make sense to me. display:table should be the default, as it also looks much better on smartphones

[2021-10-26 05:57] sambhavsaxena commented on #256
Can i work on this issue?

[2021-10-26 05:59] sambhavsaxena commented on #228
NPM can be used on web frameworks made with Node. The site has to be integrated with node in order to use npm?!

[2021-10-26 06:10] sambhavsaxena commented on #192
Use percentage instead of sized units like Rem and Vh

[2021-11-09 17:43] kris-sorensen opened #306 "typography"
### Version info

**Milligram:**

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

### Expected behavior

### Actual behavior

[2021-11-13 22:35] zgoda opened #307 "Export some CSS variables"
It would be nice if Milligram exported at least colour variables so the most basic customisation would not require running through sass pipeline.

[2021-11-16 12:33] nsde opened #308 "[Improvement] Dark Mode"
Hey there,
I'd love to see official dark mode support, just like so:

[code]

This means that visitors who set "dark mode" on their computer/browser settings will get a dark design automatically without having to click anything.

If this something that can't/shouldn't be made, is there any other way I can apply dark mode to my Milligram.css-website? Should I use a fork of Milligram? If so, which?

[2021-11-30 14:02] iplanwebsites commented on #136
Getting this bug 5 years later on an ios device and fixed it using the same fix.
`@media (min-width: 45rem) {`

This isn't possible to replicate in browser emulators, so this makes troubleshooting the issue especially painful. It'd be great to patch the lib or find out why ios (both chrome and safari) don't handle the 40rem value as expected.

[2021-12-02 04:16] Sarveshk76 commented on #308
<img width="896" alt="image" src="https://user-images.githubusercontent.com/78719645/144356500-960414ce-16a0-4a54-802e-1ce25effd39d.png">
<img width="901" alt="image" src="https://user-images.githubusercontent.com/78719645/144356585-5a643eed-39e2-4945-a981-b1f82d06d49c.png">

[2021-12-02 04:20] Sarveshk76 commented on #308
I've made the changes as per the suggestions given above, please give feedback if anything needs to be changed.

[2021-12-17 12:33] ohchi commented on #301
I don't catch this too. May be the reason is in some browsers issues?

[2022-01-04 09:51] Jieiku commented on #308
Nice! Thank you!

[2022-03-13 04:26] fjeddy commented on #307
Agreed, you only support the latest browsers anyways, so why wouldn't you make multi-themes (Dark mode for instance) super easy and use CSS variables instead of SASS variables?

[2022-03-31 22:21] Genevieve-Sage opened #311 "center the page"
### Version info

**Milligram:**

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

### Expected behavior

### Actual behavior

[2022-04-01 14:52] LostKobrakai commented on #301
Tables should never be set to display values other than `table`, because browsers will strip all the accessibility if that's done. The perfectly semantic element essentially becomes `div` soup.

[2022-04-22 07:28] plaffitt commented on #308
Is there any news about this feature?

[2022-04-22 18:12] Jieiku commented on #308
I dont think milligram is maintained anymore, I ended up trying a few frameworks before writing my own.

You could always fork milligram and make it your own, otherwise here is a list I made: https://github.com/Jieiku/classless-css/blob/master/README.md

[2022-04-23 18:24] nsde commented on #308
Milligram isn't maintained. With that being said, closed.

[2022-04-23 18:24] #308 closed, assigned to nobody

[2022-06-14 08:15] Ubartaula opened #312 "remove a link"
### Version info

**Milligram:**

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

### Expected behavior

### Actual behavior

[2022-06-26 19:59] Harsh3363 commented on #312
can you be more specific which link to remove ?

[2022-07-15 04:18] #290 closed, assigned to nobody

[2022-07-18 14:02] Mayank1170 commented on #312
can you please clearly specify us about the link to be remove

[2022-08-04 16:15] lubnafathima opened #315 "Contribution"
Hey I would like to contribute to milligram
Could you please help me with how to get started

[2022-08-14 17:13] Coditdoc commented on #311
Can I work on it?

[2022-08-31 02:55] #312 closed, assigned to nobody

[2022-09-13 15:02] Lambdac0re opened #316 "Abandoned?"
I was using "dhg/Skeleton" before which is absolutely abandoned.
Has this project the same fate? The last commit was Jun 18, 2020...
If so, what other minimal boilerplate do you use?

[2022-09-14 04:50] cjpatoilo commented on #316
I'm working on v1.5.0 to be launched ASAP. Besides, I wish to launch v1.6.0 still this year.

[2022-09-14 14:11] christophdoering commented on #316
Good to hear looking forward to it.

[2022-09-14 20:02] #316 closed, assigned to nobody

[2022-09-30 18:09] schalkneethling commented on #228
Not just Node, I assume you would be able to use the package with frameworks such as React and Vuejs, for example. These are not technically Node applications but use tooling such as Vite, Webpack, Parcel, etc.

I would imagine these are the instances where you would install this framework from npm or Bower. I wonder if it is worth documenting usage with Bower at this stage. Perhaps there is enoug

[2022-10-01 05:23] Andyy-18 commented on #145
Hey @FourierTransformer
Can I work on this issue ?

[2022-10-02 11:27] Atharv-Nalwade commented on #296
OK got the problem
I have previously worked on frontend of web pages so I can do this
Can I get assigned to this issue

[2022-10-03 06:37] OmAvhad opened #319 "Adding Darkmode"
I would like to contribute by adding darkmode to milligram,
Do assign me with this !

[2022-10-03 11:31] Aishwarya1224 commented on #319
This is a spike to explore as a new beginner.
I'm very much interested in contributing by adding a dark mode.
Kindly assign me the task.

[2022-10-03 11:50] Aishwarya1224 commented on #203
Hey can I contribute to this if this is still active?

[2022-10-03 12:54] kalyanikakade123 commented on #319
Can you please assign me this issue ?

[2022-10-03 14:53] kalyanikakade123 commented on #306
I would like to work on this issue. Would you please assign this to me ?

[2022-10-03 14:54] kalyanikakade123 commented on #297
Can you please assign this issue to me ?

[2022-10-03 14:56] kalyanikakade123 commented on #296
I would like to work on this issue. Can you please assign it to me ?

[2022-10-03 14:57] kalyanikakade123 commented on #286
I would like to work on this issue. Can you please assign it to me ?

[2022-10-03 14:59] kalyanikakade123 commented on #281
I would like to work on this issue. Can you please assign it to me ?

[2022-10-03 14:59] kalyanikakade123 commented on #256
I would like to work on this issue. Can you please assign it to me ?

[2022-10-03 15:02] kalyanikakade123 commented on #218
I would like to work on this issue. Can you please assign it to me ?

[2022-10-03 15:05] kalyanikakade123 commented on #145
I would like to work on this issue. Can you please assign it to me ?

[2022-10-03 22:46] rashmirekhakumari commented on #296
you should change fonts size and weight also . it seems like monotonous . just need few changes otherwise you'r website is cool.

[2022-10-04 03:43] OmAvhad commented on #319
Sorry guys,
but i have started working on this.

[2022-10-05 19:20] chintan0513 opened #326 "Less UX response in Home Page"
If milligram adds some external links in **BROWSER SUPPORT** then users can also redirect to their specific latest browser and check or download the latest version.

Also, add a link to **GETTING STARTED** below these _BROWSER LINKS_

solution: https://codepen.io/chintan1310/pen/JjvBaOK

[2022-10-05 19:21] chintan0513 commented on #326
Please assign me this task if you find it appropriate.

[2022-10-07 04:28] bitwizard25 commented on #205
@chuckreynolds  can u please  suggest some resources to  take  a  deeper understanding of it

[2022-10-08 13:32] deepbeatz commented on #311
plz assign this issue to me, i want to start working on it right now !

[2022-10-08 13:33] deepbeatz commented on #306
plz assign this issue to me, i want to start working on it right now !

[2022-10-08 13:34] deepbeatz commented on #297
plz assign this issue to me, i want to start working on it right now !

[2022-10-08 13:50] deepbeatz commented on #311
@Genevieve-Sage can you please assign this issue to me?

[2022-10-08 19:13] tusharrajpoot commented on #245
@cjpatoilo can i work on it?

[2022-10-09 07:25] psantosh16 commented on #306
@kris-sorensen  Hey Santosh here ,  can you assign this issue to me ? I really want to contribute for same .

[2022-10-09 10:54] mansi142003 commented on #176
use the property of text overflow

[2022-10-09 16:07] Jatin-parashar commented on #296
Hi, Can you assign this issue to me?
I have worked on frontend and backend both.

[2022-10-09 20:49] iharshka commented on #311
Hey @Genevieve-Sage, I m interested on working on this issue.
Please assign it to me.

[2022-10-09 23:57] kartikey-katara-sn11 commented on #315
Hey!! is that Weight Converter??using html or css

[2022-10-10 08:15] Apocalyptic04 opened #330 "Dependencies Status not Rendering in Readme"
![image](https://user-images.githubusercontent.com/65764814/194823231-8daf4bc3-1596-40ea-9ed1-020c1c119221.png)

[2022-10-10 18:24] SmritiV23 commented on #145
I would like to solve this problem, please do assign this task to me.

[2022-10-10 18:25] SmritiV23 commented on #170
I would like to solve this problem, please do assign this task to me.

[2022-10-11 11:08] Shanna99 commented on #145
Hi can i solve this issue?

[2022-10-11 11:08] Shanna99 commented on #192
can i work on this issue?

[2022-10-11 14:19] Hiresh23 commented on #145
i would like to solve the problem , i can change the hover colour of button exactly as you need or may be do any other css changes

[2022-10-11 17:00] Sreehitha2003 commented on #306
@kris-sorensen I would like to contribute as i worked with many HTML codes I can solve this too. Please assign this to me

[2022-10-11 20:01] Nikhil562 commented on #330
I can fix this , please assign this ro me

[2022-10-12 13:45] GazalBandil commented on #306
Hey , this issue in typography is really important  and I want to contribute in this issue. please assign this to me.

[2022-10-14 19:39] Dikshatomarr opened #333 "Footer needs to be styled"
![image](https://user-images.githubusercontent.com/91546745/195928035-df7925ca-49bb-4ec4-8ede-b69163936026.png)

These following Changes Could be performed, and I am willing to work on this issue.

- space can be decreased and a
- dark background color can be added in footer.

[2022-10-15 03:49] ayoubkhan558 opened #334 "Please add card component"
Why not add a card component, It is the most widely used UI element.

[2022-10-15 10:28] pratikjaypurkar opened #337 "Add About Tab in Navbar"
https://milligram.io/

In this Website Add about selection.

[2022-10-15 10:30] pratikjaypurkar commented on #337
sir can I solve it this issue.

[2022-10-16 05:07] Sanath555 opened #339 "Scroll Behaviour"
I just visited [Milligrams Website](https://milligram.io/) and when I clicked the Get Started button.
![getting](https://user-images.githubusercontent.com/87657136/196018767-a8fcbfe8-4d61-4986-adab-a97a8508a91e.png)
It quickly scrolls to https://milligram.io/#getting-started

https://user-images.githubusercontent.com/87657136/196019105-433fa011-d47f-4c65-a196-791572a810f4.mp4

It should be a smoot

[2022-10-16 05:09] Sanath555 commented on #339
I can do this.  Pls, assign it to me.

[2022-10-16 06:16] Zaid-Parkar commented on #228
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:16] Zaid-Parkar commented on #217
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:16] Zaid-Parkar commented on #205
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:16] Zaid-Parkar commented on #203
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:16] Zaid-Parkar commented on #191
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:16] Zaid-Parkar commented on #145
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 06:17] Zaid-Parkar commented on #144
Hello Sir,
I would like to contribute to this project,
I am new to hacktoctoberfest and this would be a great beginning.
Thank you...

[2022-10-16 09:47] promatik commented on #144
@Zaid-Parkar that's off topic, please send a message directly to cjpatoilo.

[2022-10-16 09:47] #339 closed, assigned to nobody

[2022-10-16 15:59] An525ish opened #340 "add transition to buttons on hover"
### Version info

**Milligram:**

**Other (e.g. normalize.css, node.js, npm, bower, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

### Expected behavior

There should be a transition gap in change in its background color when we hover to any button

### Actual behavior

Background color is changing abruptly when we hover to it

[2022-10-16 16:01] An525ish commented on #340
We shall add transition effect on button hover and textarea resize should be disable

[2022-10-17 14:06] PrakarshSingh5 commented on #145
plz assign this to me

[2022-10-17 18:03] utdude commented on #334
please assign this task to me

[2022-10-17 18:08] utdude commented on #340
please assign this task to me

[2022-10-18 10:28] mohitpal88 commented on #337
can i solve this

[2022-10-18 10:28] mohitpal88 commented on #334
can i do this task

[2022-10-18 15:40] Rishita0116 commented on #337
Hello sir, can you please assign this issue to me?

[2022-10-18 15:41] Rishita0116 commented on #334
Hello sir, can you please assign this issue to me?

[2022-10-19 06:15] thesakshidiggikar commented on #340
I would like to contributemake to into work would, you please assign this work to me?

[2022-10-19 06:25] thesakshidiggikar commented on #333
Hello! I would like to work on this issue can you please assign this work to me?

[2022-10-19 18:42] panugothrakesh commented on #337
Hello @pratikjaypurkar, I am really interested in this issue. I'm new to Github and contribution, so it would really be help full for me to get started on this small issues. Can you please guide me?

[2022-10-20 07:59] ramkrishna134 commented on #340
I would like to contribute in this issue, can you please assign me?

[2022-10-20 18:21] An525ish commented on #340
can this task be assigned to me....?

[2022-10-21 13:23] Sandeepkr43 commented on #340
Hover is a selector , used to select elements when you mouse over them.
I would like to contribute to this issue and make it attractive by using hover selector.
so, I request you to assign this issue to me.

[2022-10-21 13:25] Sandeepkr43 commented on #337
we can use bootstrap framework to add About selection in Navbar
I would like to contribute to this issue .
so, I request you to assign this issue to me.